<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<style>
		table {
			background-color: rgb(33, 37, 41);
		}

		table td,
		table th {
			max-width: 170px;
		}

		.tdCenter {
			text-align: center;
		}

		.imgBox {
			width: 100px;
			height: 100px;
		}

		.showDesc {
			cursor: pointer;
		}

		.section-big {
			max-width: calc(100% - 42px);
		}

		.section-small {
			max-width: calc(100% - 200px);
		}
	</style>
	<title>Insert title here</title>
</head>

<body>
	<div th:replace="~{layout/navmain}"></div>
	<div class="d-flex">
		<div th:replace="~{layout/asideMain}"></div>
		<div class="w-100 section section-big">
			<div class="content mt-3">
				<nav class="navbar navColor">
					<div class="container-fluid">
						<a class="navbar-brand link-light" th:href="@{/member}" style="font-size: 30px;">優惠券管理系統</a>
					</div>
				</nav>
				<ul class="nav nav-tabs">
					<li class="nav-item"><a class="nav-link active" href="#">機率管理</a>
					</li>
				</ul>
			</div>
			<div class="container-fluid">
				<div class="row my-3">
					<div class="col-6">
						<table id="example" class="hover row-border" style="width: 100%">
							<thead>
								<tr>
									<td>優惠券編號</td>
									<td>類型</td>
									<td>折扣</td>
									<td>描述</td>
									<td>權重</td>
									<td>狀態</td>
									<td>機率</td>
									<td>更新</td>
									<td>停用</td>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="coupon : ${coupons}">
									<tr>
										<td>[[${coupon.couponId}]]</td>
										<td th:text="${coupon.typeId}? ${coupon.gameType.typeName}: '不限類型'"></td>
										<td>[[${coupon.coupon}]]</td>
										<td>[[${coupon.desc}]]</td>
										<td>[[${coupon.weight}]]</td>
										<td>[[${coupon.status}]]</td>
										<td>[[${couponRandoms[coupon.couponId]}]]</td>
																			<th:block th:if="${coupon.status==1}">
										<td>
											<button th:data-id="${coupon.couponId}" class="btn btn-info btn-update" data-bs-toggle="modal"
												data-bs-target="#exampleModal">更新
											</button>
										</td>
										<td>
											<button th:data-id="${coupon.couponId}" class="btn btn-outline-success btn-restore" hidden=true>復原
											</button>
											<button th:data-id="${coupon.couponId}" class="btn btn-danger btn-delete">凍結
											</button>
										</td>
									</th:block>
									<th:block th:unless="${coupon.status==1}">
										<td>
											<button th:data-id="${coupon.couponId}" class="btn btn-info btn-update" data-bs-toggle="modal"
												data-bs-target="#exampleModal" hidden=true>更新
											</button>
										</td>
										<td>
											<button th:data-id="${coupon.couponId}" class="btn btn-danger btn-delete" hidden=true>凍結</button>
											<button th:data-id="${coupon.couponId}" class="btn btn-outline-success btn-restore">復原
											</button>
										</td>
									</th:block>
									</tr>
									
								</th:block>
							</tbody>
						</table>
					</div>
					<div class="col-6">
						<canvas id="chartJS"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script>
		$(function () {
			$('#example').DataTable({
				scrollX: true,
				"dom": 'lrtip'
			});
		})
		getRegistrationDatechartJs()

		function getRegistrationDatechartJs() {
			axios({
				url: 'http://localhost:8080/carbon/member/api/memberRegistrationDateAnalysis',
				method: 'GET',
				headers: { 'Content-Type': 'application/x-www-form-urlencode' }
			})
				.then(response => {
					const chartJS = document.querySelector('#chartJS');
					let responseData = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
					console.log(response.data);
					for (let dataInResponse of response.data) {
						responseData[dataInResponse[0] - 1] = dataInResponse[1];
						console.log(responseData[dataInResponse[0] - 1] = dataInResponse[1]);
					}
					const labels = ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月']
					const data = {
						labels: labels,
						datasets: [
							{
								label: '註冊人數',
								data: responseData,
								borderColor: 'rgb(255, 255, 255)',
								backgroundColor: 'rgb(255, 255, 255)',
								pointBackgroundColor: 'rgb(255, 255, 255)',
								pointBorderColor: 'rgb(255, 255, 255)',
								pointRadius: 8,
								pointHoverRadius: 10

							}
						]
					}

					new Chart(chartJS, {
						type: 'line',
						data: data,
						options: {
							scales: {
								x: {
									ticks: {
										color: 'rgb(255, 255, 255)',
										font: { size: 24 },
									}
								},
								y: {
									ticks: {
										color: 'rgb(255, 255, 255)',
										font: { size: 24 },
									}
								},
							},
							responsive: true,
							plugins: {
								legend: {
									labels: {
										color: 'rgb(255, 255, 255)',
										font: {
											size: 30
										}
									},
									position: 'top',
								},
								title: {
									display: true,
									text: '每月會員註冊人數',
									color: 'rgb(255, 255, 255)',
									font: {
										size: 30
									},
									position: 'bottom'
								}
							}
						},
					}
					)

				})
		}



	</script>
</body>

</html>