<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/memberDataTable.css}"></link>
	<title>Insert title here</title>
</head>

<body>
	<div th:replace="~{layout/navmain}"></div>
	<div class="d-flex">
		<div th:replace="~{layout/asideMain}"></div>
		<div class="w-100 section section-big">
			<div class="content mt-3">
				<nav class="navbar navColor">
					<div class="container-fluid">
						<a class="navbar-brand link-light" style="font-size: 30px;">優惠券管理系統</a>
					</div>
				</nav>
				<ul class="nav nav-tabs">
					<li class="nav-item"><a class="nav-link active" href="#">機率管理</a>
					</li>
					<li class="nav-item"><a class="nav-link" th:href="@{/coupon/insertPage}">新增優惠券</a>
					</li>
				</ul>
			</div>
			<div class="container-fluid">
				<div class="row my-3">
					<div class="col-8">
						<div class="d-none" id="buttonNum">[[${coupons.size}]]</div>
						<table id="example" class="hover row-border" style="width: 100%">
							<thead>
								<tr>
									<td>優惠券編號</td>
									<td>類型</td>
									<td>折扣</td>
									<td>描述</td>
									<td>權重</td>
									<td>狀態</td>
									<td>機率</td>
									<td>停用</td>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="coupon : ${coupons}">
									<tr>
										<td th:id="id + ${coupon.couponId}">[[${coupon.couponId}]]</td>
										<td th:text="${coupon.typeId}? ${coupon.gameType.typeName}: '不限類型'"></td>
										<td>[[${coupon.coupon}]]</td>
										<td>[[${coupon.desc}]]</td>
										<td>[[${coupon.weight}]]</td>
										<td th:text="${coupon.status}==1 ? '使用中' : '已停用'"></td>
										<td>[[${couponRandoms[coupon.couponId]}]]</td>
										<th:block th:if="${coupon.status==1}">

											<td>
												<button th:data-id="${coupon.couponId}" class="btn btn-outline-success btn-restore"
													hidden=true>復原
												</button>
												<button th:data-id="${coupon.couponId}" class="btn btn-danger btn-delete">停用
												</button>
											</td>
										</th:block>
										<th:block th:unless="${coupon.status==1}">

											<td>
												<button th:data-id="${coupon.couponId}" class="btn btn-danger btn-delete"
													hidden=true>停用</button>
												<button th:data-id="${coupon.couponId}" class="btn btn-outline-success btn-restore">復原
												</button>
											</td>
										</th:block>
									</tr>

								</th:block>
							</tbody>
						</table>
					</div>
					<div class="col-4">
						<canvas id="chartJS"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script th:src="@{/js/couponManagement.js}"></script>
</body>

</html>