<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<style>
		table {
			background-color: rgb(33, 37, 41);
		}

		table td,
		table th {
			max-width: 170px;
		}

		.tdCenter {
			text-align: center;
		}

		.imgBox {
			width: 100px;
			height: 100px;
		}

		.showDesc {
			cursor: pointer;
		}

		.section-big {
			max-width: calc(100% - 42px);
		}

		.section-small {
			max-width: calc(100% - 200px);
		}
	</style>
	<title>Insert title here</title>
</head>

<body>
	<div th:replace="~{layout/navmain}"></div>
	<div class="d-flex">
		<div th:replace="~{layout/asideMain}"></div>
		<div class="w-100 section section-big">
			<div class="content mt-3">
				<nav class="navbar navColor">
					<div class="container-fluid">
						<a class="navbar-brand link-light" th:href="@{/member}" style="font-size: 30px;">優惠券管理系統</a>
					</div>
				</nav>
				<ul class="nav nav-tabs">
					<li class="nav-item"><a class="nav-link active" href="#">機率管理</a>
					</li>
				</ul>
			</div>
			<div class="container-fluid">
				<div class="row my-3">
					<div class="col-8">
						<table id="example" class="hover row-border" style="width: 100%">
							<thead>
								<tr>
									<td>優惠券編號</td>
									<td>類型</td>
									<td>折扣</td>
									<td>描述</td>
									<td>權重</td>
									<td>狀態</td>
									<td>機率</td>
									<td>更新</td>
									<td>停用</td>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="coupon : ${coupons}">
									<tr>
										<td th:id="id + ${coupon.couponId}">[[${coupon.couponId}]]</td>
										<td th:text="${coupon.typeId}? ${coupon.gameType.typeName}: '不限類型'"></td>
										<td>[[${coupon.coupon}]]</td>
										<td>[[${coupon.desc}]]</td>
										<td>[[${coupon.weight}]]</td>
										<td>[[${coupon.status}]]</td>
										<td>[[${couponRandoms[coupon.couponId]}]]</td>
										<th:block th:if="${coupon.status==1}">
											<td>
												<button th:data-id="${coupon.couponId}" class="btn btn-info btn-update" data-bs-toggle="modal"
													data-bs-target="#exampleModal">更新
												</button>
											</td>
											<td>
												<button th:data-id="${coupon.couponId}" class="btn btn-outline-success btn-restore"
													hidden=true>復原
												</button>
												<button th:data-id="${coupon.couponId}" class="btn btn-danger btn-delete">停用
												</button>
											</td>
										</th:block>
										<th:block th:unless="${coupon.status==1}">
											<td>
												<button th:data-id="${coupon.couponId}" class="btn btn-info btn-update" data-bs-toggle="modal"
													data-bs-target="#exampleModal" hidden=true>更新
												</button>
											</td>
											<td>
												<button th:data-id="${coupon.couponId}" class="btn btn-danger btn-delete"
													hidden=true>停用</button>
												<button th:data-id="${coupon.couponId}" class="btn btn-outline-success btn-restore">復原
												</button>
											</td>
										</th:block>
									</tr>

								</th:block>
							</tbody>
						</table>
					</div>
					<div class="col-4">
						<canvas id="chartJS"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script>
		//////////////////////////////////載入畫製圖表/////////////////////////////////
		$(function () {
			$('#example').DataTable({
				scrollX: true,
				"dom": 'lrtip'
			});
		})

		getRandomchartJs()
		////////////////////////////////////config////////////////////////////////////////////
		const chartJS = document.querySelector('#chartJS')
		let chart;

		const btnDelete = document.querySelectorAll('.btn-delete');

		btnDelete.forEach(function (button) {
			button.addEventListener('click', () => {
				let id = button.dataset.id;
				changeStatus(id, 2);

			})
		})

		const btnRestore = document.querySelectorAll('.btn-restore');

		btnRestore.forEach(function (button) {
			button.addEventListener('click', () => {
				let id = button.dataset.id;
				changeStatus(id, 1);
			})
		})




		const COLORS = [
			'#F7F6C5',
			'#DE7C5A',
			'#5BC0EB',
			'#AFD2E9',
			'#E3DFFF',
			'#61A0AF',
			'#227C9D',
			'#81559B',
			'#00A7E1',
			'#476C9B'
		];


		function getRandomchartJs() {
			axios({
				url: 'http://localhost:8080/carbon/coupon/api/couponMangement',
				method: 'GET',
				headers: { 'Content-Type': 'application/x-www-form-urlencode' }
			})
				.then(response => {
					console.log(response.data);

					let responseData = [];
					let labels = [];
					let backgroundColorArray = [];
					for (let coupon of response.data) {
						responseData.push(coupon.random);
						labels.push(coupon.couponId + ':' + coupon.couponName);
						backgroundColorArray.push(color());
					}

					const data = {
						labels: labels,
						datasets: [
							{
								label: '機率',
								data: responseData,
								backgroundColor: backgroundColorArray,
								hoverOffset: 4
							}
						]
					}

					chart = new Chart(chartJS, {
						type: 'doughnut',
						data: data,
						options: {
							plugins: {
								legend: {
									labels: {
										color: 'white',
										font: {
											size: 20
										}
									}
								}
							}
						}
					}
					)
				})
		}

		function color() {
			return COLORS[parseInt(Math.random() * 10) % COLORS.length];
		}

		function updateCharData(newlabelArray, newdataArray) {
			chart.data.labels = newlabelArray;
			chart.data.datasets[0].data = newdataArray;
			chart.update();
		}

		function updateFrozenTable(datas) {

			let isNew = 0;

			for (let data of datas) {
				let deleteData = document.querySelector(`#id${data.couponId}`);
				let siblings = Array.from(deleteData.parentNode.children).filter(function (child) {
					return child !== deleteData;
				})
				if (data.typeName == 'null') {
					siblings[0].innerHTML = '不限類型';
				} else {
					siblings[0].innerHTML = data.typeName;
				}
				siblings[1].innerText = data.discount;
				siblings[2].innerText = data.couponName;
				siblings[3].innerText = data.weight;
				siblings[4].innerText = data.status;
				siblings[5].innerText = data.random;

				//能拿到的data.status都是1

				const updateBtn = siblings[6].querySelector('.btn-update');
				if (updateBtn && updateBtn.hasAttribute('hidden')) {
					updateBtn.removeAttribute('hidden');
				}

				const restoreBtn = siblings[7].querySelector('.btn-restore');
				if (restoreBtn) {

					restoreBtn.setAttribute('hidden', true);

				}
				const deleteBtn = siblings[7].querySelector('.btn-delete');
				if (deleteBtn && deleteBtn.hasAttribute('hidden')) {
					deleteBtn.removeAttribute('hidden');
				}

				if (data.couponId != data.updateInteger && isNew == 0) {
					let deleteData = document.querySelector(`#id${datas[0].updateInteger}`);
					let siblings = Array.from(deleteData.parentNode.children).filter(function (child) {
						return child !== deleteData;
					})
					siblings[4].innerText = '2';
					siblings[5].innerText = null;
					const updateBtn = siblings[6].querySelector('.btn-update');
					if (updateBtn) {
						updateBtn.setAttribute('hidden', true);
					}

					const restoreBtn = siblings[7].querySelector('.btn-restore');
					if (restoreBtn) {

						restoreBtn.removeAttribute('hidden');

					}
					const deleteBtn = siblings[7].querySelector('.btn-delete');
					if (deleteBtn) {
						deleteBtn.setAttribute('hidden', true);
					}
				} else {
					isNew = 1;
				}

			}

		}


		function changeStatus(id, status) {
			axios({
				url: "http://localhost:8080/carbon/coupon/api/couponFrozen",
				method: 'put',
				data: {
					couponId: id,
					status: status
				}
			})
				.then(response => {
					let responseData = [];
					let labels = [];

					for (let coupon of response.data) {
						responseData.push(coupon.random);
						labels.push(coupon.couponId + ':' + coupon.couponName);
					}

					updateCharData(labels, responseData);
					updateFrozenTable(response.data);

				})
				.catch(err => {
					console.log(err);
				})
		}





	</script>
</body>

</html>