<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Carbon</title>
</head>

<body>
	<div th:replace="${session.memberBeans} ? ~{layout/navHomeLogin} : ~{layout/navHome} "></div>
	<div class="container" style="margin-top:-100px">
		<!-- START: Image Slider -->
		<div class="nk-image-slider" data-autoplay="8000">
			<th:block th:each="TopGame,iterStat:${gameList}" th:if="${iterStat.index}<6">
				<div class="nk-image-slider-item">
					<img th:src="@{'/gameFront/getImg/'+${TopGame.gamePhotoLists[0]}}" alt=""
						class="nk-image-slider-img"
						th:data-thumb="@{'/gameFront/getImg/'+${TopGame.gamePhotoLists[0]}}">

					<div class="nk-image-slider-content">

						<h3 class="h4">[[${TopGame.gameName}]]</h3>
						<p class="text-white">[[${TopGame.gameIntroduce}]]</p>
						<a th:href="@{'/gameFront/'+${TopGame.gameName}}"
							class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">查看遊戲</a>

					</div>

				</div>
			</th:block>
		</div>
		<!-- START: Categories -->
		<div class="nk-gap-2"></div>
		<div class="row vertical-gap">
			<div class="col-lg-4">
				<div class="nk-feature-1">
					<div class="nk-feature-icon">
						<img src="assets/images/icon-mouse.png" alt="">
					</div>
					<div class="nk-feature-cont">
						<h3 class="nk-feature-title"><a href="#">遊戲</a></h3>
						<h4 class="nk-feature-title text-main-1"><a th:href="@{/gameFront}">遊戲列表</a></h4>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="nk-feature-1">
					<div class="nk-feature-icon">
						<img src="assets/images/icon-gamepad.png" alt="">
					</div>
					<div class="nk-feature-cont">
						<h3 class="nk-feature-title"><a href="#">虛寶</a></h3>
						<h4 class="nk-feature-title text-main-1"><a th:href="@{/market}">虛寶列表</a></h4>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="nk-feature-1">
					<div class="nk-feature-icon">
						<img src="assets/images/icon-gamepad-2.png" alt="">
					</div>
					<div class="nk-feature-cont">
						<h3 class="nk-feature-title"><a href="#">商城</a></h3>
						<h4 class="nk-feature-title text-main-1"><a th:href="@{/bonus-shop/main}">獎勵商城</a></h4>
					</div>
				</div>
			</div>
		</div>
		<!-- END: Categories -->
		<div class="nk-gap-2"></div>

		<!-- END: Categories -->
		<div class="nk-gap-2"></div>
		<!-- START: Latest News -->
		<div class="nk-gap-2"></div>
		<h3 class="nk-decorated-h-2"><span><span class="text-main-1">最新</span> 賽事</span></h3>
		<div class="nk-gap"></div>

		<div class="nk-news-box">
			<div class="nk-news-box-list">
				<div class="nano">
					<div class="nano-content">

						<th:block th:each=" competition : ${competitionList} ">
							<div class="nk-news-box-item nk-news-box-item-active" style="position: relative;">
								<div class="nk-news-box-item-img">
									<img th:src="@{'/competitionRegistration/showImage/'+${competition.competitionId}}"
										alt="找不到圖片">
								</div>
								<img th:src="@{'/competitionRegistration/showImage/'+${competition.competitionId}}"
									alt="找不到圖片" class="nk-news-box-item-full-img">
								<h3 class="nk-news-box-item-title" th:text="${competition.name}"></h3>

								<span class="nk-news-box-item-categories">
									<span class="bg-main-4">MMO</span>
								</span>

								<div class="nk-news-box-item-text">
									<p th:text="${competition.description}"></p>
								</div>
								<div class="nk-news-box-item-date" th:text="'開始日期: '+${competition.startDate}"></div>
								<a th:href="@{'/competitionPageDetail?competitionId='+${competition.competitionId}}"
									style="position: absolute; right: 5px; bottom: 10px;">Read More</a>
							</div>
						</th:block>
					</div>
				</div>
			</div>

			<div class="nk-news-box-each-info">
				<div class="nano">
					<div class="nano-content">
						<!-- There will be inserted info about selected news-->
						<div class="nk-news-box-item-image">
							<img src="assets/images/post-1.jpg" alt="" style="height: 310px;">
						</div>
						<h3 class="nk-news-box-item-title">Smell magic in the air. Or maybe barbecue</h3>
						<div class="nk-news-box-item-text">
							<p>With what mingled joy and sorrow do I take up the pen to write to my dearest friend! Oh,
								what a change between to-day and yesterday! Now I am friendless and alone...</p>
						</div>
						<div class="nk-news-box-item-date">
							<span class="fa fa-calendar"></span> Sep 18, 2018
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="nk-gap-2"></div>
		<div class="nk-gap-2"></div>
		<h3 class="nk-decorated-h-2"><span><span class="text-main-1">熱門</span> 活動</span></h3>
		<div class="nk-gap"></div>
		<div class="nk-blog-grid">
			<div class="row">

				<th:block th:each=" event : ${eventList} ">
					<div class="col-md-6 col-lg-3">
						<!-- START: Post -->
						<div class="nk-blog-post">
							<span href="blog-article.html" class="nk-post-img">
								<img th:src="@{'/eventRegistration/showImage/'+${event.eventId}}" alt="找不到圖片">


							</span>
							<div class="nk-gap"></div>
							<h2 class="nk-post-title h4" th:text="${event.name}"></h2>
							<div class="nk-post-text">
								<p th:text="${event.description}"></p>
							</div>
							<div class="nk-gap"></div>
							<div class="nk-news-box-item-date" th:text="'開始日期: '+${event.startDate}"></div>
							<a th:href="@{'/eventPageDetail?eventId='+${event.eventId}}"
								class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read
								More</a>
						</div>
						<!-- END: Post -->
					</div>
				</th:block>


			</div>
		</div>
	</div>
	<!-- END: Latest News -->

		<!-- GoodGames -->
		<script th:src="@{/assets/js/goodgames-init.js}"></script>
		<!-- END: Scripts -->
		<div th:replace="~{layout/footer}"></div>
</body>


</html>