<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/memberLogin.css}" rel="stylesheet">
	<title>Member Login</title>
</head>

<body>
	<div th:replace="${session.memberBeans} ? ~{layout/navHomeLogin} : ~{layout/navHome} "></div>

	<div class="container h-100">
		<div class="row justify-content-lg-end justify-content-center mt-80 h-100">
			<div class="formContainer col-12 col-lg-4 p-3 rounded">
				<div class="text-center mt-5 col-12" id="managerLogin">
					<i class="fa-solid fa-circle-user color-white"></i>
					<div class="fs-1 color-white">會員登入</div>
				</div>
				<form method="post" th:action="@{/main/memberLogin}" id="loginForm">

					<div class="mb-20 col-12">
						<label for="email" class="form-label text-light">電子郵件</label>
						<input type="email" class="form-control" name="email" id="email" placeholder="請輸入電子郵件"
							th:value="${email}?${email}:null"></Input>
					</div>
					<div class="mb-10 col-12">
						<label for="memberPwd" class="form-label text-light">密碼</label>
						<input type="password" class="form-control " name="memberPwd" id="memberPwd" placeholder="請輸入密碼"></Input>
					</div>
					<div class="text-danger ml-20" id="error" style="font-size:20px;">[[${status}]]</div>
					<div class="mb-3 col-12 d-flex">
						<div class="col-lg-4 col-md-8 col-6 ml-10">
							<Input type="checkbox" class="form-check-input mt-7" name="rememberMe" id="rememberMe" value="1"
								checked></Input>
							<label for="rememberMe" class="form-check-label text-light">記住我</label>
						</div>
						<div>
							<div id="g_id_onload"
								data-client_id="1070702429115-en0qd5ug57uoo54tbvkaos9j1tvrle3s.apps.googleusercontent.com"
								data-context="signin" data-ux_mode="popup"
								data-login_uri="http://localhost:8080/carbon/main/googleLogin" data-auto_prompt="false">
							</div>
							<div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline"
								data-text="signin" data-size="large" data-logo_alignment="left" data-width="100">
							</div>
						</div>
						<div class="col-6">
							<button type="submit" class="btn nextStep text-light" style="width:100px;height:42px;">下一步</button>
						</div>
					</div>
				</form>
				<hr>
				<a th:href="@{/main/registerPage}" class="btn col-12 mb-10 registrationPage text-light">註冊帳號</a>
				<button class="btn col-12 mb-10 forgetPwd text-light" data-bs-toggle="modal" data-bs-target="#forgetPassword">忘記密碼</button>
				<button class="btn col-12 mb-10 oneClick text-light" id="oneClick">一鍵登入</button>			
			</div>
			
		</div>
	</div>	
	
		<div class="modal fade" id="forgetPassword" tabindex="-1" aria-labelledby="forgetPasswordModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-light" id="forgetPasswordModalLabel">忘記密碼</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form>
						<label for="forget" class="form-label text-light">請輸入您的信箱</label>
						<input type="text" id="forget" class="form-control">
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn nextStep text-light" id="forgetPasswordBtn">寄送驗證信件</button>
				</div>
			</div>
		</div>
	</div>
	
	<script src="https://accounts.google.com/gsi/client" async></script>
	<script>
		$("#email").on("focus", function () {
			$("#error").css("visibility", "hidden");
		})
	</script>
	<script th:src="@{/js/memberLogin.js}"></script>


</body>


</html>

