<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/memberLogin.css}" rel="stylesheet">
	<title>Member Login</title>
</head>

<body>
	<div th:replace="${session.memberBeans} ? ~{layout/navHomeLogin} : ~{layout/navHome} "></div>

	<div class="container h-100">
		<div class="row justify-content-lg-end justify-content-center align-items-center h-100">
			<div class="formContainer col-4 p-4 rounded">
				<div class="text-center mt-5 col-12" id="managerLogin">
					<i class="fa-solid fa-circle-user"></i>
					<div class="fs-1">會員登入</div>
				</div>
				<form method="post" th:action="@{/main/memberLogin}" id="loginForm">

					<div class="mb-3 col-12">
						<label for="email" class="form-label fs-4">電子郵件</label>
						<input type="email" class="form-control" name="email" id="email" placeholder="請輸入電子郵件"
							th:value="${email}?${email}:null"></Input>
					</div>
					<div class="mb-3 col-12">
						<label for="memberPwd" class="form-label fs-4">密碼</label>
						<input type="password" class="form-control" name="memberPwd" id="memberPwd" placeholder="請輸入密碼"></Input>
					</div>
					<div class="mb-3 col-12 d-flex">
						<div class="col-6">
							<Input type="checkbox" class="form-check-input " name="rememberMe" id="rememberMe" value="1"
								checked></Input>
							<label for=" form-check-label fs-5 rememberMe">記住我</label>
						</div>
						<div class="col-6 d-flex justify-content-end">
							<button type="submit" class="btn col-8 me-3 nextStep">下一步</button>
						</div>
					</div>


				</form>
				<hr>
				<a th:href="@{/main/registerPage}" class="btn col-12 mb-2 registrationPage">註冊帳號</a>
				<a href="#" class="btn btn-info col-12 mb-2">忘記密碼</a>
				<button class="btn col-12 mb-2 oneClick" id="oneClick">一鍵登入</button>
			</div>
		</div>
	</div>
	<script th:src="@{/js/memberLogin.js}"></script>


</body>


</html>