<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <footer class="py-5 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md text-light h2">
                    <h3 class="">CARBON</h3>
                </div>
                <div class="col-6 col-md text-light">
                    <h5>STORE</h5>
                    <ul class="list-unstyled">
                        <li>HOME</li>
                        <li>GAME</li>
                        <li>BONUS SHOP</li>
                    </ul>
                </div>
                <div class="col-6 col-md text-light">
                    <h5>COMMUNITY</h5>
                    <ul class="list-unstyled">
                        <li>MARKET</li>
                        <li>BONUS SHOP</li>
                        <li>BONUS SHOP</li>
                    </ul>
                </div>
                <div class="col-6 col-md text-light">
                    <h5>CONNECT</h5>
                    <ul class="list-unstyled">
                        <li>Q&A</li>
                        <li>SUPPORT</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>