<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <footer class="py-5 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md text-light h2">
                    <h3 class="">CARBON</h3>
                </div>
                <div class="col-6 col-md text-light">
                    <h5>遊戲</h5>
					 <div class="nk-gap-2"></div>                   
                    <h5>論壇</h5>
                </div>
                <div class="col-6 col-md text-light">
                    <h5>市集</h5>
                    <ul class="list-unstyled">
                        <li>虛寶交易</li>
                        <li>獎勵商城</li>
                    </ul>
                </div>
                <div class="col-6 col-md text-light">
                    <h5>活動</h5>
                    <ul class="list-unstyled">
                        <li>賽事報名</li>
                        <li>活動</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>