<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<!-- START: Styles -->

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7cOpen+Sans:400,700" rel="stylesheet"
		type="text/css">

	<!-- Bootstrap -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/dist/css/bootstrap.min.css}">

	<!-- FontAwesome -->
	<script defer th:src="@{/assets/vendor/fontawesome-free/js/all.js}"></script>
	<script defer th:src="@{/assets/vendor/fontawesome-free/js/v4-shims.js}"></script>

	<!-- IonIcons -->
	<link rel="stylesheet" th:href="@{/assets/vendor/ionicons/css/ionicons.min.css}">

	<!-- Flickity -->
	<link rel="stylesheet" th:href="@{/assets/vendor/flickity/dist/flickity.min.css}">

	<!-- Photoswipe -->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/vendor/photoswipe/dist/photoswipe.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/vendor/photoswipe/dist/default-skin/default-skin.css}">

	<!-- Seiyria Bootstrap Slider -->
	<link rel="stylesheet" th:href="@{/assets/vendor/bootstrap-slider/dist/css/bootstrap-slider.min.css}">

	<!-- Summernote -->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/vendor/summernote/dist/summernote-bs4.css}">

	<!-- GoodGames -->
	<link rel="stylesheet" th:href="@{/assets/css/goodgames.css}">

	<!-- Custom Styles -->
	<link rel="stylesheet" th:href="@{/assets/css/custom.css}">

	<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
	<link rel="stylesheet" th:href="@{/css/home.css}">
	<!-- END: Styles -->

	<!-- jQuery -->
	<script th:src="@{/assets/vendor/jquery/dist/jquery.min.js}"></script>

	<title>Carbon</title>
</head>

<body>
	<header class="nk-header nk-header-opaque">
		<nav class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-autohide">
			<div class="container">
				<div class="nk-nav-table">
					<a th:href="@{/main/goBackToHome}" class="nk-nav-logo">
						<i class="d-inline-block align-text-top fa-solid " style="color: #f8f9fa; font-size: 2em;">
							<span style="color: #dd163b;font-size: 1.7em;">C</span>ARB<span
								style="color: #dd163b;font-size: 1.5em;">O</span><span style="color: #dd163b;">2</span>
						</i>
					</a>

					<ul class="nk-nav nk-nav-2 nk-nav-right d-none d-lg-table-cell" data-nav-mobile="#nk-nav-mobile">

						<li><a th:href="@{/gameFront}">遊 戲</a></li>
						<li class="nk-drop-item">
							<a href="#">市 集</a>
							<ul class="dropdown">
								<li><a th:href="@{/market}">虛寶交易</a></li>
								<li><a th:href="@{/bonus-shop/main}">獎勵商城</a></li>
							</ul>
						</li>
						<li class="nk-drop-item">
							<a href="#">活 動</a>
							<ul class="dropdown">
								<li><a th:href="@{/competitionPageAll}">賽事報名</a></li>
								<li><a th:href="@{/eventPageAll}">活 動</a></li>
							</ul>
						</li>
						<li><a th:href="@{/forum/getfront}">論 壇</a></li>
						<li class="nk-drop-item">
							<a href="#" th:text="${session.memberBeans.userId}"></a>
							<ul class="dropdown">
								<li><a th:href="@{/memberFront/memberInformationPage}">個人資料</a></li>
								<li class="nk-drop-item">
									<a href="#">我的訂單</a>
									<ul class="dropdown">
										<li><a
												th:href="@{'/gameFront/orderList?memberId='+${session.memberBeans.id}}">遊戲訂單</a>
										</li>
										<li><a th:href="@{/profile/orderHistory}">虛寶交易訂單</a></li>
									</ul>
								</li>
								<li><a th:href="@{/profile/wallet}">我的錢包</a></li>
								<li><a th:href="@{'/profile/'+ ${session.memberBeans.id} +'/inventory'}">虛寶倉庫</a></li>
								<li><a th:href="@{'/registrationRecord?memberId='+${session.memberBeans.id}}">報名紀錄</a>
								</li>
								<li><a th:href="@{/coupon/couponPage}">抽取優惠</a></li>
								<!-- 延遲跳轉 -->
								<li><a href="#" class="logout_btn">登 出</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nk-nav nk-nav-right d-none d-lg-table-cell" style="max-width:18px">
						<li>
							<div class="nk-cart-toggle me-3">
								<span class="fa fa-shopping-cart" style="color:#fff"></span>
								<span class="nk-badge" style="color:#fff" id="cartItemCount">0</span>
							</div>
							<div class="nk-cart-dropdown">

								<!-- 購物車區塊 -->
								<div id="cartItems"></div>


								<div class="nk-gap-2"></div>
								<div class="text-center">
									<a th:href="@{/gameFront/cartList(memberId=${session.memberBeans.id})}"
										class="nk-btn nk-btn-rounded nk-btn-color-main-1 nk-btn-hover-color-white">前往購物車</a>
								</div>
							</div>
						</li>
					</ul>
					<ul class="nk-nav nk-nav-right nk-nav-icons">

						<li class="single-icon d-lg-none">
							<a href="#" class="no-link-effect" data-nav-toggle="#nk-nav-mobile">
								<span class="nk-icon-burger">
									<span class="nk-t-1"></span>
									<span class="nk-t-2"></span>
									<span class="nk-t-3"></span>
								</span>
							</a>
						</li>


					</ul>
				</div>
			</div>
			<div class="d-none" id="memberId" th:data-user-id="${session.memberBeans.id}">[[${session.memberBeans.id}]]
			</div>
		</nav>
	</header>

	<!--
    START: Navbar Mobile

    Additional Classes:
        .nk-navbar-left-side
        .nk-navbar-right-side
        .nk-navbar-lg
        .nk-navbar-overlay-content
-->
	<div id="nk-nav-mobile" class="nk-navbar nk-navbar-side nk-navbar-right-side nk-navbar-overlay-content d-lg-none">
		<div class="nano">
			<div class="nano-content">
				<div class="d-flex">
					<a th:href="@{/main/goBackToHome}" class="nk-nav-logo">
						<i class="d-inline-block align-text-top fa-solid " style="color: #f8f9fa; font-size: 1.2em;">
							<span style="color: #dd163b;font-size: 1.7em;">C</span>ARB<span
								style="color: #dd163b;font-size: 1.5em;">O</span><span style="color: #dd163b;">2</span>
						</i>
					</a>
					<a href="#" class="d-flex align-items-center me-2">
						<span class="fa fa-shopping-cart"></span>
						<span class="nk-badge">0</span>
					</a>
				</div>
				<div class="nk-navbar-mobile-content">
					<ul class="nk-nav">
						<!-- Here will be inserted menu from [data-mobile-menu="#nk-nav-mobile"] -->
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- END: Navbar Mobile -->
	<script th:src="@{/js/cart_game_login.js}"></script>
	<script th:src="@{/js/home.js}"></script>
	<!-- START: Scripts -->
	<script th:src="@{/js/jquery-3.7.0.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
	<script th:src="@{/js/axios.min.js}"></script>
	<script th:src="@{/js/jquery-ui.min.js}"></script>
	<script src="https://kit.fontawesome.com/f3a13d5fed.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<!-- Object Fit Polyfill -->
	<script th:src="@{/assets/vendor/object-fit-images/dist/ofi.min.js}"></script>

	<!-- GSAP -->
	<script th:src="@{/assets/vendor/gsap/src/minified/TweenMax.min.js}"></script>
	<script th:src="@{/assets/vendor/gsap/src/minified/plugins/ScrollToPlugin.min.js}"></script>

	<!-- Popper -->
	<script th:src="@{/assets/vendor/popper.js/dist/umd/popper.min.js}"></script>

	<!-- Bootstrap -->
	<script th:src="@{/assets/vendor/bootstrap/dist/js/bootstrap.min.js}"></script>

	<!-- Sticky Kit -->
	<script th:src="@{/assets/vendor/sticky-kit/dist/sticky-kit.min.js}"></script>

	<!-- Jarallax -->
	<script th:src="@{/assets/vendor/jarallax/dist/jarallax.min.js}"></script>
	<script th:src="@{/assets/vendor/jarallax/dist/jarallax-video.min.js}"></script>

	<!-- imagesLoaded -->
	<script th:src="@{/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js}"></script>

	<!-- Flickity -->
	<script th:src="@{/assets/vendor/flickity/dist/flickity.pkgd.min.js}"></script>

	<!-- Photoswipe -->
	<script th:src="@{/assets/vendor/photoswipe/dist/photoswipe.min.js}"></script>
	<script th:src="@{/assets/vendor/photoswipe/dist/photoswipe-ui-default.min.js}"></script>

	<!-- Jquery Validation -->
	<script th:src="@{/assets/vendor/jquery-validation/dist/jquery.validate.min.js}"></script>

	<!-- Jquery Countdown + Moment -->
	<script th:src="@{/assets/vendor/jquery-countdown/dist/jquery.countdown.min.js}"></script>
	<script th:src="@{/assets/vendor/moment/min/moment.min.js}"></script>
	<script th:src="@{/assets/vendor/moment-timezone/builds/moment-timezone-with-data.min.js}"></script>

	<!-- Hammer.js -->
	<script th:src="@{/assets/vendor/hammerjs/hammer.min.js}"></script>

	<!-- NanoSroller -->
	<script th:src="@{/assets/vendor/nanoscroller/bin/javascripts/jquery.nanoscroller.js}"></script>

	<!-- SoundManager2 -->
	<script th:src="@{/assets/vendor/soundmanager2/script/soundmanager2-nodebug-jsmin.js}"></script>

	<!-- Seiyria Bootstrap Slider -->
	<script th:src="@{/assets/vendor/bootstrap-slider/dist/bootstrap-slider.min.js}"></script>

	<!-- Summernote -->
	<script th:src="@{/assets/vendor/summernote/dist/summernote-bs4.min.js}"></script>

	<!-- nK Share -->
	<script th:src="@{/assets/plugins/nk-share/nk-share.js}"></script>

	<!-- GoodGames -->
	<script th:src="@{/assets/js/goodgames.min.js}"></script>
	<script th:src="@{/assets/js/goodgames-init.js}"></script>
	<!-- END: Scripts -->
</body>

</html>