<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <style>
        .light_mode {
            background-color: whitesmoke;
        }
        .lm_aside {
            background-color: #d4d1c6;
            color: rgb(22, 22, 24);
        }
        .lm_table{
            background-color: #d4d1c6;
        }
    </style>
    <title>ITEM</title>
</head>

<body>
<div th:replace="~{layout/navMain}"></div>
<div class="d-flex">
<div th:replace="~{layout/asideMain}"></div>
<div class="d-flex w-100 flex-column flex-wrap section">
<div class="content mt-3">
    <nav class="navbar navColor">
        <div class="container-fluid">
            <a class="navbar-brand link-light"
                th:href="@{/gameitem}"
                style="font-size: 30px;">GAME ITEM</a>
            <form class="d-flex" role="search" method="get" th:action="@{/gameitem/getGameitemByName}">
                <input class="form-control me-2" type="search" placeholder="道具名稱查詢"
                    aria-label="Search" name="itemName">
                <button class="btn btn-outline-warning" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/gameitem/allGameitem}">ALL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/gameitem/newGameitem}">NEW ITEM</a>
        </li>
    </ul>
    
</div>
</div>
</div>
</body>
</html>