<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <style>
        .showPage,
        .showSalePage {
            position: fixed;
            left: 0;
            top: 0;
            background-color: #525252b4;
            width: 100%;
            height: 100%;
            display: none;
        }

        .myPage,
        .mySalePage {
            background-color: whitesmoke;
            border-radius: 14px;
            padding: 20px 50px;
        }
    </style>
    <title>Carbon | MARKET</title>
</head>

<body>
<div th:replace="${session.memberBeans} ? ~{layout/navHomeLogin} : ~{layout/navHome} "></div>
    <div class="container my-5">
    	<div class="card col my-5">
            <div class="card-body">
	            <div class="d-flex justify-content-between">
		            <div>
		            	<a href="#" class="btn btn-info">My Active Listing</a>
		            	<a href="#" class="btn btn-info">My Market History</a>
		            </div>
	            	<a href="#" class="btn btn-info sellPageBtn" id="sellPageBtn1">Sell an Item</a>
	            </div>
            </div>
        </div>
        <div class="gx-3 d-flex justify-content-between">
            <div class="card col-8">
                <div class="card-header d-flex">
                    <span class="col-11">Items</span>
                    <span class="col-1">price</span>
                </div>
                <ul class="list-group list-group-flush">
                    <th:block th:each="order: ${orders}">
                        <li class="list-group-item">
                            <a th:href="@{'/market/'+ ${order.gameId} + '/' + ${order.itemName}}"
                                class="col d-flex justify-content-between align-items-center link-dark d-block">
                                <div class="imgBox overflow-hidden row col-3" style="max-width: 150px">
                                    <img th:src="@{'/market/downloadImage/' + ${order.itemId}}" th:alt="${order.itemImgName}"
                                        class="img-fluid">
                                </div>
                                <div class="col-8">
                                    <h4>[[${order.itemName}]]</h4>
                                </div>
                                <div class="col-1">
                                    $ [[${order.price}]]
                                </div>
                            </a>
                        </li>
                    </th:block>
                </ul>
            </div>
            <div class="card col-3">
                <div class="card-body">
                    <div class="card-title">SEARCH</div>
                    <div class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="道具名稱查詢" aria-label="Search"
                            name="itemName" id="order_search">
                        <button class="btn btn-outline-warning" type="submit" id="order_search_btn">Search</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- ----------- inventory page ----------- -->
	    <div class="showPage justify-content-center align-items-center" id="showPage1">
	        <div class="myPage my-4 col-lg-6 col-11" id="myPage1">
	            <div class="d-flex justify-content-between align-items-center">
	                <h4>INVENTORY</h4>
	                <button type="button" class="btn-close closeBtn1" aria-label="Close"></button>
	            </div>
	            <div class="row g-2">
	                <div class="card mt-4 mb-1">
	                    <div class="card-body col">
	                    	<div class="card-text col mb-3">
				               <h4 th:text="${session.memberBeans} ? ${session.memberBeans.userId} : ''"></h4>
				               <span th:text="${session.memberBeans} ? ${session.memberBeans.id} : ''" id="user1" class="d-none"></span>
				            </div>
				            <div class="d-flex col mb-3 flex-wrap" id="inventoryList1"></div>
				            <div class="card-text col-xl-7 col-12 d-flex flex-wrap d-none" id="noItem1">
								<span>物品庫中無道具</span>
							</div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
        <!-- ----------- sale page ----------- -->
	    <div class="showSalePage justify-content-center align-items-center" id="showSalePage1">
	        <div class="mySalePage my-4 col-lg-6 col-11" id="mySalePage1">
	            <div class="d-flex justify-content-between align-items-center">
	                <h4>Put an item up for sale</h4>
	                <button type="button" class="btn-close closeBtn-sale" aria-label="Close"></button>
	            </div>
	            <div class="row g-2">
	                <div class="card mt-4 mb-1">
	                    <div class="card-body col">
	                    	<div class="card-text col mb-3">
				               <span th:text="${session.memberBeans} ? ${session.memberBeans.id} : ''" id="user1" class="d-none"></span>
				            </div>
				            <div class="col mb-3" id="saleItem1"></div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>
    </div>
    <div th:replace="~{layout/footer}"></div>
    <script th:src="@{/js/itemMarket.js}"></script>
</body>

</html>