<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <style>
        .showPage,
        .showOrderPage {
            position: fixed;
            left: 0;
            top: 0;
            background-color: #525252b4;
            width: 100%;
            height: 100%;
            display: none;
        }

        .myPage,
        .myOrderPage {
            background-color: whitesmoke;
            border-radius: 14px;
            padding: 20px 50px;
        }
    </style>
    <title>Carbon | 虛寶交易 :: [[${item.itemName}]]</title>
</head>

<body>
<div th:replace="${session.memberBeans} ? ~{layout/navHomeLogin} : ~{layout/navHome}"></div>

<div class="nk-main">
        
            <!-- START: Breadcrumbs -->
<div class="nk-gap-1"></div>
<div class="container">
    <ul class="nk-breadcrumbs">
        <li><a th:href="@{/main/goBackToHome}">首頁</a></li>
        <li><span class="fa fa-angle-right"></span></li>
        <li><a th:href="@{/market}">虛寶交易</a></li>
        <li><span class="fa fa-angle-right"></span></li>
        
        <li><span>[[${item.itemName}]]</span></li>
    </ul>
</div>
<div class="nk-gap-1"></div>
<!-- END: Breadcrumbs -->

    <div class="container">
	    <div class="row vertical-gap">
	        <div class="col-12">
	            <div class="nk-store-product">
	                <div class="row vertical-gap text-white">
	                    <div class="col-md-6">
	                        <div class="nk-popup-gallery col-10">
	                            <div class="nk-gallery-item-box">
                                    <img th:src="@{'/market/downloadImage/' + ${item.itemId}}"
                            th:alt="${item.itemImgName}">
	                            </div>
	                            <div class="nk-gap-1"></div>
	                        </div>
	                    </div>
	                    <div class="col-md-6">
	                        <div class="d-none" id="itemId1" th:text="${item.itemId}"></div>
	
	                        <h2 class="nk-product-title h3">[[${item.itemName}]]</h2>
	
	                        <div class="nk-product-title">
	                        	<a th:href="@{'/gameFront/' + ${item.game.gameName}}">[[${item.game.gameName}]]</a>
	                        </div>
							<div class="nk-gap-1"></div>
	                        <div class="nk-product-description">
	                            <p>[[${item.itemDesc}]]</p>
	                        </div>
	                    </div>
		            </div>
                </div>
            </div>
        </div>
        <h4 class="nk-decorated-h-2"><span>中位販售價格</span></h4>
	    <div class="col-lg-10" id="noHistory1"><canvas class="salesPriceChart1"></canvas></div>  
	      
	    <div class="nk-gap-2"></div>
        <ul class="nk-forum text-white">
	        <li class="p-10">
	            <div class="nk-forum-title my-auto">
	            	<h3></h3>
	            </div>
	            <div class="nk-forum-activity text-center my-auto d-flex justify-content-center">
	            	<a href="#" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1" id="buyOrder1" data-toggle="modal" data-target="#modalBuyOrderPage" th:data-buyId="${item.itemId}">
	                    下單訂購
	                </a>
	            </div>
	        </li>
        </ul>
        
	    <div class="nk-gap-1"></div>
	    
	    <ul class="nk-forum">
            <li class="p-10">
                <div class="nk-forum-icon"></div>
                <div class="nk-forum-title">
                	名稱
                </div>
                <div class="nk-forum-activity border-start">
                    <div class="nk-forum-activity-title text-center">
                        賣方
                    </div>
                </div>
                <div class="nk-forum-activity border-start border-end">
                    <div class="nk-forum-activity-title text-center">
                        價格
                    </div>
                </div>
                <div class="nk-forum-activity">
                    <a href="#"></a>
                </div>
            </li>
        </ul>
	    <div class="nk-gap-1"></div>
	     <!-- ----------- change to ajex ----------- -->
	     <div id="itemList1">
	    	<th:block th:switch="${not #lists.isEmpty(orders)}">
		    <ul th:case="true" class="nk-forum text-white">
		    	<th:block th:each="order: ${orders}">
		            <li class="p-10">
		                <div class="nk-forum-activity me-3 d-flex">
		                	<img th:src="@{'/market/downloadImage/' + ${order.itemId}}" th:alt="${order.gameItem.itemImgName}"
	                                class="img-fluid" style="max-width: 120px">
		                </div>
		                <div class="nk-forum-title my-auto">
		                	<h3>[[${order.gameItem.itemName}]]</h3>
		                </div>
		                <div class="nk-forum-activity my-auto">
		                    <div class="nk-forum-activity-title text-center">
		                        [[${order.sell.userId}]]
		                    </div>
		                </div>
		                <div class="nk-forum-activity my-auto d-flex justify-content-center">
		                    <div class="nk-forum-activity-title">
		                        NT$ [[${order.price}]]
		                    </div>
		                </div>
		                <div class="nk-forum-activity text-center my-auto d-flex justify-content-center">
		                	<a href="#" class="nk-btn nk-btn-lg nk-btn-rounded nk-btn-color-main-1 buyBtn" data-toggle="modal" data-target="#modalBuyPage" th:data-Id="${order.ordId}">
		                        立即購買
		                    </a>
		                </div>
		            </li>
		        </th:block>
	        </ul>
	        <div th:case="false">
	        	<div class="nk-box-5 bg-dark-2">
                	<h4 class="m-10 text-center">此物品尚無訂單</h4>
                </div>
			</div>
	        </th:block>
	     </div>
    	 
        
    	<div class="nk-gap-3"></div>
    </div>
</div>


	<!-- ----------- buy order page ----------- -->
<div class="nk-modal modal fade LoginMsg" id="modalBuyOrderPage" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>
                <div class="my-4 col-12" id="myOrderPage1">
                    <div class="row vertical-gap">
			            <div class="col-lg-12">
			                <h3><span class="text-main-1">購買</span> - [[${item.itemName}]]</h3>
			                <div class="nk-gap"></div>
			                <div id="buyOrderSuccess">
				                <form class="nk-form needs-validation" novalidate>
				                    <div class="row vertical-gap sm-gap">
				                    	<div class="d-flex col-xl-7">
								            <div class="nk-popup-gallery col-4 p-0 d-flex align-items-center">
			                            		<div class="nk-gallery-item-box">
									                <img th:src="@{'/market/downloadImage/' + ${item.itemId}}" th:alt="${item.itemImgName}">
									            </div>
								            </div>
								            <div class="col-8">
								                <h3>[[${item.itemName}]]</h3>
								                <span>[[${item.game.gameName}]]</span>
								            </div>
								        </div>
								        <div class="col-xl-5">
								        	<div class="my-3 row">
								                <label class="col-sm-4 col-form-label">願意出價: </label>
								                <div class="col-5">
								                	<input type="text" id="buyPrice1" class="form-control" value="NT$" required>
								                </div>
							                	<span class="col-3">(每件)</span>
							                </div>
								            <div class="my-3 row">
								                <label class="col-sm-4 col-form-label">購買數量: </label>
								                <div class="col-5">
									                <input type="number" id="buyQuantity1" class="form-control" value="1" required>
								                </div>
								            </div>
								            <div class="my-3 row">
								            	<label for="maxPrice1" class="col-sm-4 col-form-label">最高價格: </label>
											    <div class="col-sm-8">
											      <input type="text" readonly class="form-control-plaintext text-white" id="maxPrice1" value=" NT$ ">
											    </div>
								            </div>
							                <div class="invalid-feedback">
							                        請輸入價格..
							                </div>
								        </div>
				                    </div>
				                    <div class="nk-gap-1"></div>
				                    
				                    <div class="col-lg-12">
						                <div class="nk-box-5 bg-dark-4">
						                	<div class="d-flex text-white">
						                        <div class="col-12 gap-3">
						                            <span>帳號 : </span>
						                            <span th:text="${session.memberBeans} ? ${session.memberBeans.userId} : ''"></span>
						                            <span th:text="${session.memberBeans} ? ${session.memberBeans.id} : ''" id="user1" class=" d-none"></span>
								            		<div class="nk-gap"></div>
								            		<div class="myWallet2"></div>
						                            <span class="d-none" id="myWallet1"></span>
						                        </div>
						                    </div>
						                    <div class="nk-gap-2"></div>
					                        <div class="ms-3">
								                <div class="form-check">
								                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
								                    <label class="form-check-label" for="invalidCheck">
								                        我同意協議條款
								                    </label>
								                    <div class="invalid-feedback">
								                        必須勾選同意條款
								                    </div>
								                </div>
								            </div>
						                    <div class="mt-3 d-flex float-right" id="changeAddFund2">
								                <button class="nk-btn nk-btn-lg nk-btn-rounded nk-btn-color-main-1 buyOrderBtn" id="buyOrderBtn1">新增訂單</button>
								            </div>
						                </div>
						            </div>
				                </form>
			                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
    <!-- ----------- buy page ----------- -->
<div class="nk-modal modal fade LoginMsg" id="modalBuyPage" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>
				<div class="" id="buyPage1">
                	<h2 class="mb-0"><span class="text-main-1">購買</span>物品</h2>
                	<div class="nk-gap-1"></div>
					<div class="row col d-none" id="pageMsg">
		                <h4>購買成功!</h4>
		            </div>
			        <div class="nk-gap"></div>
			        <div class="row vertical-gap text-white">
			            <div class="col-lg-12">
			                <div class="nk-box-5 bg-dark-4 d-flex justify-content-between">
			                	<div class="col-6">名稱</div>
	                            <div class="vr"></div>
	                            <div class="col-3">賣方</div>
	                            <div class="vr"></div>
	                            <div class="col-2">價格</div>
			                </div>
			            </div>
			            <div class="col-lg-12">
			                <div class="nk-box-5 bg-dark-4 d-flex">
			                	<div class="col p-0 g-2 mb-5" id="buyPageInfo"></div>
			                </div>
			            </div>
			            <div class="col-lg-12">
			                <div class="nk-box-5 bg-dark-4" id="userInfo1">
			                	<div class="d-flex">
			                        <div class="col-12 gap-3">
			                            <span>帳號 : </span>
			                            
			                            <span th:text="${session.memberBeans} ? ${session.memberBeans.userId} : ''"></span>
			                            <span th:text="${session.memberBeans} ? ${session.memberBeans.id} : ''" id="user1" class=" d-none"></span>
					            		<div class="nk-gap"></div>
					            		<div class="myWallet2"></div>
			                        </div>
			                    </div>
		                        <div class="mt-5 col-12" id="changeAddFund1">
			                            <button class="nk-btn nk-btn-lg nk-btn-rounded nk-btn-color-main-1 float-right" id="submitBtn">立即購買</button>
		                        </div>
			                </div>
			            </div>
			        </div>
				</div>
            </div>
        </div>
    </div>
</div>
    <div th:replace="~{layout/footer}"></div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
    <script th:src="@{/js/itemMarket.js}"></script>
</body>

</html>