<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <style>
        .showPage,
        .showSalePage {
            position: fixed;
            left: 0;
            top: 0;
            background-color: #525252b4;
            width: 100%;
            height: 100%;
            display: none;
        }

        .myPage,
        .mySalePage {
            background-color: whitesmoke;
            border-radius: 14px;
            padding: 20px 50px;
        }
    </style>
    <title>Carbon | 虛寶交易</title>
</head>

<body>
<div th:replace="${session.memberBeans} ? ~{layout/navHomeLogin-gg} : ~{layout/navHome-gg} "></div>

<div class="nk-main">
        
            <!-- START: Breadcrumbs -->
<div class="nk-gap-1"></div>
<div class="container">
    <ul class="nk-breadcrumbs">
        
        <li><a th:href="@{/main/goBackToHome}">首頁</a></li>
        <li><span class="fa fa-angle-right"></span></li>
        
        <li><span>虛寶交易</span></li>
        
    </ul>
</div>
<div class="nk-gap-1"></div>
<!-- END: Breadcrumbs -->

    <div class="container">
    	<div class="row vertical-gap">
    	
		    <div class="nk-gap-2"></div>
    		<div class="nk-tabs">
			    <!--
			        Additional Classes:
			            .nav-tabs-fill
			    -->
			    <div class="d-flex justify-content-between align-items-center">
				    <ul class="nav nav-tabs" role="tablist">
				        <li class="nav-item">
				            <a class="nav-link active" href="#tabs-1-1" role="tab" data-toggle="tab">我的上架物品</a>
				        </li>
				        <li class="nav-item">
				            <a class="nav-link" href="#tabs-1-2" role="tab" data-toggle="tab">交易歷史紀錄</a>
				        </li>
				    </ul>
			        <div class="me-3">
			        	<a href="#" class="btn btn-info sellPageBtn" data-toggle="modal" data-target="#modalInventory" id="sellPageBtn1">
		                    販賣物品
		                </a>
			        </div>
			        <div class="me-3">
			        	<form th:action="@{/market/ecpayCheckout}" method="post">
			        		<button class="btn btn-info">儲值</button>
			        	</form>
			        </div>
			    </div>
				    <div class="tab-content">
				        <div role="tabpanel" class="tab-pane fade show active" id="tabs-1-1">
				            <div class="nk-gap"></div>
				            <!-- START: Forums List -->
				            <div>販賣訂單</div>
					        <ul class="nk-forum">
					            <li class="p-10">
					                <div class="nk-forum-icon"></div>
					                <div class="nk-forum-title border-end">
					                	名稱
					                </div>
					                <div class="nk-forum-activity border-end">
					                    <div class="nk-forum-activity-title text-center">
					                        上架日期
					                    </div>
					                </div>
					                <div class="nk-forum-activity border-end">
					                    <div class="nk-forum-activity-title text-center">
					                        價格
					                    </div>
					                </div>
					                <div class="nk-forum-activity text-center">
					                    <a href="#">棄單</a>
					                </div>
					            </li>
					        </ul>
					        <div class="nk-gap"></div>
					        <ul class="nk-forum">
					            <li class="p-10">
					                <div class="nk-forum-icon">
					                    <span class="ion-ios-game-controller-b"></span>
					                </div>
					                <div class="nk-forum-title">
					                    <h3><a href="#"></a></h3>
					                    <div class="nk-forum-title-sub">名稱</div>
					                </div>
					                <div class="nk-forum-activity">
					                    <div class="nk-forum-activity-title" title="GodLike the only game that I want to play!">
					                        <a href="forum-single-topic.html"></a>
					                    </div>
					                        上架日期
					                    <div class="nk-forum-activity-date">
					                    </div>
					                </div>
					                <div class="nk-forum-count">
					                    價格
					                </div>
					                <div class="nk-forum-activity-avatar">
					                    <a href="#">
					                        <img src="" alt="Hitman">
					                    </a>
					                </div>
					            </li>
					        </ul>
				            <div class="nk-gap"></div>
				            
				            <div>購買訂單</div>
					        <ul class="nk-forum">
					            <li class="p-10">
					                <div class="nk-forum-icon"></div>
					                <div class="nk-forum-title">
					                	名稱
					                </div>
					                <div class="nk-forum-activity">
					                    <div class="nk-forum-activity-title">
					                        上架日期
					                    </div>
					                </div>
					                <div class="nk-forum-activity">
					                    <div class="nk-forum-activity-title">
					                        數量
					                    </div>
					                </div>
					                <div class="nk-forum-activity">
					                    <div class="nk-forum-activity-title">
					                        出價
					                    </div>
					                </div>
					                <div class="nk-forum-activity">
					                    <a href="#">棄單</a>
					                </div>
					            </li>
					        </ul>
					        <div class="nk-gap"></div>
					        <ul class="nk-forum">
					            <li class="p-10">
					                <div class="nk-forum-icon">
					                    <span class="ion-ios-game-controller-b"></span>
					                </div>
					                <div class="nk-forum-title">
					                    <h3><a href="#"></a></h3>
					                    <div class="nk-forum-title-sub">名稱</div>
					                </div>
					                <div class="nk-forum-activity">
					                    <div class="nk-forum-activity-title" title="GodLike the only game that I want to play!">
					                        <a href="forum-single-topic.html"></a>
					                    </div>
					                        上架日期
					                    <div class="nk-forum-activity-date">
					                    </div>
					                </div>
					                <div class="nk-forum-count">
					                    價格
					                </div>
					                <div class="nk-forum-activity-avatar">
					                    <a href="#">
					                        <img src="" alt="Hitman">
					                    </a>
					                </div>
					            </li>
					        </ul>
				            <div class="nk-gap"></div>
				        </div>
				        <div role="tabpanel" class="tab-pane fade" id="tabs-1-2">
				            <div class="nk-gap"></div>
				            
				            <div>歷史紀錄</div>
					        <ul class="nk-forum">
					            <li class="p-10">
					                <div class="nk-forum-icon"></div>
					                <div class="nk-forum-title">
					                	名稱
					                </div>
					                <div class="nk-forum-activity">
					                    <div class="nk-forum-activity-title">
					                        上架日期
					                    </div>
					                </div>
					                <div class="nk-forum-activity">
					                    <div class="nk-forum-activity-title">
					                        成交日期
					                    </div>
					                </div>
					                <div class="nk-forum-activity">
					                    <div class="nk-forum-activity-title">
					                        價格
					                    </div>
					                </div>
					                <div class="nk-forum-activity">
					                    <a href="#">對象</a>
					                </div>
					            </li>
					        </ul>
					        <div class="nk-gap"></div>
					        <ul class="nk-forum">
					            <li class="p-10">
					                <div class="nk-forum-icon">
					                    <span class="ion-ios-game-controller-b"></span>
					                </div>
					                <div class="nk-forum-title">
					                    <h3><a href="#"></a></h3>
					                    <div class="nk-forum-title-sub">名稱</div>
					                </div>
					                <div class="nk-forum-activity">
					                    <div class="nk-forum-activity-title" title="GodLike the only game that I want to play!">
					                        <a href="forum-single-topic.html"></a>
					                    </div>
					                        上架日期
					                    <div class="nk-forum-activity-date">
					                    </div>
					                </div>
					                <div class="nk-forum-count">
					                    價格
					                </div>
					                <div class="nk-forum-activity-avatar">
					                    <a href="#">
					                        <img src="" alt="Hitman">
					                    </a>
					                </div>
					            </li>
					        </ul>
				            <div class="nk-gap"></div>
				        </div>
				    </div>
			</div>
			<!-- END: Tabs -->
                
	        <div class="col-lg-8">
	        
			    <div class="nk-gap-2"></div>	            
	            <div class="nk-blog-grid">
	                <div class="row">
	                    <th:block th:each="order: ${items}">
		                    <div class="col-md-4 col-6">
		                        <div class="nk-blog-post border border-secondary px-3">
		                            <a th:href="@{'/market/'+ ${order.gameId} + '/' + ${order.itemId} + '/' + ${order.itemName}}" class="nk-post-img">
		                                <img th:src="@{'/market/downloadImage/' + ${order.itemId}}" th:alt="${order.itemImgName}">
		                            </a>
		                            <h2 class="nk-post-title h5" style="height: 45px"><a th:href="@{'/market/'+ ${order.gameId} + '/' + ${order.itemName}}">[[${order.itemName}]]</a></h2>
		                            <span class="text-main-1">起跳價格: </span>
	                            	<th:block th:each="ord: ${order.itemOrders}">
	                            		<h3 class="nk-post-title h6 text-end" th:text="${order.itemOrders} ? 'NT$ ' + ${ord.price} : 'NT$ --'"></h3>
			                            <th:block th:if="${ord.price} == null">
			                            	<h3 class="nk-post-title h6 text-end">NT$ --</h3>
		                           		</th:block>
		                            		<h3 class="nk-post-title h6 text-end">
				                            	NT$ [[${ord.price}]]
		                            		</h3>
			                        </th:block>
		                            <div class="nk-post-by">
		                                <img th:src="@{'/gameFront/getImg/' + ${order.gameId}}" alt="" class="rounded-circle" width="35"><a href="#">[[${order.game.gameName}]]</a>
		                            </div>
		                            <div class="nk-gap"></div>
		                        </div>
		                    </div>
	                    </th:block>
			        </div>	
		        </div>
	        </div>	
	        
		    <div class="col-lg-4"> 
		    	<div class="nk-gap-2"></div>
		        <!-- START: Sidebar -->
			    <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky">
			        <div class="nk-widget nk-widget-highlighted">
					    <h4 class="nk-widget-title"><span><span class="text-main-1">進階</span> 搜尋</span></h4>
					    <div class="nk-widget-content">
					        <div class="nk-input-slider">
					            <input
					                type="text"
					                name="price-filter"
					                data-slider-min="0"
					                data-slider-max="1800"
					                data-slider-step="1"
					                data-slider-value="[200, 1200]"
					                data-slider-tooltip="hide"
					            >
					            <div class="nk-gap"></div>
					            <div>
					                <div class="text-white mt-4 float-left">
					                    PRICE:
					                    <strong class="text-main-1">€ <span class="nk-input-slider-value-0"></span></strong>
					                    -
					                    <strong class="text-main-1">€ <span class="nk-input-slider-value-1"></span></strong>
					                </div>
					                <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white float-right">Apply</a>
					            </div>
					            <div class="clearfix"></div>
					        </div>
					    </div>
					</div>
				</aside>
				<!-- END: Sidebar -->
			</div>
        </div>
    </div>
</div>
        
        <!-- ----------- inventory page ----------- -->
<div class="nk-modal modal fade LoginMsg" id="modalInventory" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>
	            <div class="col-lg-12">
	                <h3>虛寶倉庫</h3>
	                <div class="nk-gap"></div>
	                <div class="row vertical-gap text-white">
	            		<div class="col-lg-12">
	            			<div class="nk-box-1 bg-dark-3">
				               <h4 class="mb-0" th:text="${session.memberBeans} ? ${session.memberBeans.userId} : ''"></h4>
				               <span th:text="${session.memberBeans} ? ${session.memberBeans.id} : ''" id="user1" class="d-none"></span>
			            	</div>
		            	</div>
		            	<div class="col-lg-12" id="inventoryList1"></div>
			            <div class="col d-none" id="noItem1">
			            	<div class="nk-box-1 bg-dark-3">
								<h4>物品庫中無道具</h4>
							</div>
						</div>
                    </div>
                </div>
	        </div>
	    </div>
    </div>
</div>
        <!-- ----------- sale page ----------- -->
<div class="nk-modal modal fade LoginMsg" id="modalSalesPage" tabindex="-1" role="dialog" aria-hidden="true" style="background: rgba(0, 0, 0, 0.5);
    z-index: 1072 !important">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>
	            <div class="col-lg-12">
	                <h4>將物品上架銷售</h4>
	                <div class="nk-gap"></div>
	                <div class="row vertical-gap text-white">
	                	<div class="col mb-3">
			               <span th:text="${session.memberBeans} ? ${session.memberBeans.id} : ''" id="user1" class="d-none"></span>
			            </div>
			            <div class="" id="saleItem1"></div>
		            </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div th:replace="~{layout/footer}"></div>
    <script th:src="@{/js/itemMarket.js}"></script>
</body>

</html>