<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <style>
        .showPage,
        .showOrderPage {
            position: fixed;
            left: 0;
            top: 0;
            background-color: #525252b4;
            width: 100%;
            height: 100%;
            display: none;
        }

        .myPage,
        .myOrderPage {
            background-color: whitesmoke;
            border-radius: 14px;
            padding: 20px 50px;
        }
    </style>
    <title>Market :: [[${orders[0].gameItem.itemName}]]</title>
</head>

<body>
<div th:replace="${session.memberBeans} ? ~{layout/navHomeLogin-gg} : ~{layout/navHome-gg} "></div>
    <div class="container my-5">
        <div class="card my-5">
            <div class="card-body">
                <div class="row d-flex me-2">
                    <div class="col-5 d-flex justify-content-center">
                        <img th:src="@{'/market/downloadImage/' + ${orders[0].itemId}}"
                            th:alt="${orders[0].gameItem.itemImgName}">
                    </div>
                    <div class="col-7">
                        <h2 class="card-title">[[${orders[0].gameItem.itemName}]]</h2>
                        <h4 class="card-subtitle mb-3">[[${orders[0].gameItem.game.gameName}]]</h4>
                        <span class="card-text">[[${orders[0].gameItem.itemDesc}]]</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-5 mb-1">
            <div class="card-body">
                <div class="card-text col d-flex justify-content-between">
                    <div class="col-7"></div>
                    <div class="col-2"></div>
                    <div class="col-2">
                        <button class="btn btn-outline-info" id="buyOrder1" th:data-buyId="${orders[0].itemId}">Place Buy Order</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-5 mb-1">
            <div class="card-body">
                <div class="card-text col d-flex justify-content-between">
                    <div class="col-7">NAME</div>
                    <div class="vr"></div>
                    <div class="col-2">SELLER</div>
                    <div class="vr"></div>
                    <div class="col-1">PRICE</div>
                    <div class="vr"></div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
        <!-- ----------- change to ajex ----------- -->
        <th:block th:each="order: ${orders}">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="card-text col d-flex justify-content-between align-items-center">
                        <div class="imgBox overflow-hidden col-2">
                            <img th:src="@{'/market/downloadImage/' + ${order.itemId}}" th:alt="${order.gameItem.itemImgName}"
                                class="img-fluid" style="max-width: 120px">
                        </div>
                        <div class="col-5">
                            [[${order.gameItem.itemName}]]
                        </div>
                        <div class="col-2">
                            [[${order.sell.memberName}]]
                        </div>
                        <div class="col-1">
                            $ [[${order.price}]]
                        </div>
                        <div class="col-1">
                            <button class="btn btn-info buyBtn" th:data-id="${order.ordId}">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>

	<!-- ----------- buy order page ----------- -->
    <div class="showOrderPage justify-content-center align-items-center" id="showOrderPage1">
        <div class="myOrderPage my-4 col col-md-6" id="myOrderPage1">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Buy - [[${orders[0].gameItem.itemName}]]</h2>
                <button type="button" class="btn-close closeBtn1" aria-label="Close"></button>
            </div>
            <div class="row g-2">
                <div class="card mt-5 mb-1">
                    <div class="card-body">
                        <div class="card-text col d-flex justify-content-between">
					        <form class="row g-3 needs-validation" novalidate>
	                        	<div class="d-flex col-6">
						            <div class="imgBox overflow-hidden col-4 d-flex justify-content-center">
						                <img th:src="@{'/market/downloadImage/' + ${orders[0].itemId}}" th:alt="${orders[0].gameItem.itemImgName}"
						                    class="img-fluid" style="max-width: 120px">
						            </div>
						            <div class="col-8">
						                <h3>[[${orders[0].gameItem.itemName}]]</h3>
						                <span>[[${orders[0].gameItem.game.gameName}]]</span>
						            </div>
						        </div>
						        <div class="col-6">
						        	<div class="my-3 row">
						                <label class="col-sm-7 col-form-label">What price do you want to pay: </label>
						                <div class="col-3">
						                	<input type="text" id="buyPrice1" class="form-control" value="NT$" required>
						                </div>
					                	<span class="col-2">(per item)</span>
					                </div>
						            <div class="my-3 row">
						                <label class="col-sm-7 col-form-label">How many do you want to buy: </label>
						                <div class="col-3">
							                <input type="number" id="buyQuantity1" class="form-control" value="1" required>
						                </div>
						            </div>
						            <div class="my-3 row">
						            	<label for="maxPrice1" class="col-sm-7 col-form-label">Maximum price: </label>
									    <div class="col-sm-3">
									      <input type="text" readonly class="form-control-plaintext" id="maxPrice1" value=" NT$ ">
									    </div>
						            </div>
					                <div class="invalid-feedback">
					                        You must enter a valid price..
					                </div>
						        </div>
						        <hr>
						        <div>
					                <div class="form-check">
					                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
					                    <label class="form-check-label" for="invalidCheck">
					                        I agree to the terms of the Steam Subscriber Agreement
					                    </label>
					                    <div class="invalid-feedback">
					                        You must agree before submitting.
					                    </div>
					                </div>
					            </div>
					            <div class="mt-3 d-flex justify-content-end">
					                <button class="btn btn-info buyOrderBtn" id="buyOrderBtn1">PLACE ORDER</button>
					            </div>
			                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
    <!-- ----------- buy page ----------- -->
    <div class="showPage justify-content-center align-items-center" id="showPage1">
        <div class="myPage my-4 col col-md-6" id="myPage1">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Buy an item</h2>
                <button type="button" class="btn-close closeBtn1" aria-label="Close"></button>
            </div>
            <div class="row col mt-5 d-none" id="pageMsg">
                <h4>Congratulations on your purchase!</h4>
            </div>
            <div class="row g-2">
                <div class="card mt-5 mb-1">
                    <div class="card-body">
                        <div class="card-text col d-flex justify-content-between">
                            <div class="col-8">NAME</div>
                            <div class="vr"></div>
                            <div class="col-2">SELLER</div>
                            <div class="vr"></div>
                            <div class="col-1">PRICE</div>
                        </div>
                    </div>
                </div>
                <div class="col p-0 g-2 mb-5" id="buyPageInfo">
                </div>
                <div class="card" id="userInfo1">
                    <div class="card-body col d-flex">
                        <div class="card-text col-9 d-flex gap-3">
                            <span>account: </span>
                            <span th:text="${session.memberBeans} ? ${session.memberBeans.userId} : ''"></span>
                            <span th:text="${session.memberBeans} ? ${session.memberBeans.id} : ''" id="user1" class=" d-none"></span>
                        </div>
                        <div class="mt-5 col-3 justify-content-md-center">
                            <button class="btn btn-info" id="submitBtn">PURCHASE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{layout/footer}"></div>
    <script th:src="@{/js/itemMarket.js}"></script>
</body>

</html>