<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<style>
		table {
			background-color: rgb(33, 37, 41);
		}

		table td,
		table th {
			max-width: 170px;
		}

		.tdCenter {
			text-align: center;
		}

		.imgBox {
			width: 100px;
			height: 100px;
		}

		.showDesc {
			cursor: pointer;
		}

		.section-big {
			max-width: calc(100% - 42px);
		}

		.section-small {
			max-width: calc(100% - 200px);
		}
	</style>
	<title>Carbon管理系統 | 遊戲虛寶</title>
</head>

<body>
	<div th:replace="~{layout/navMain}"></div>
	<div class="d-flex">
		<div th:replace="~{layout/asideMain}"></div>
		<div class="w-100 section section-big">
			<div class="content mt-3">
				<nav class="navbar navColor">
					<div class="container-fluid">
						<a class="navbar-brand link-light" th:href="@{/gameitem}" style="font-size: 30px;">遊戲虛寶</a>
						<div class="d-flex" role="search">
							<input class="form-control me-2" type="search" placeholder="道具名稱查詢" aria-label="Search"
								name="itemName" id="gameitem_search">
							<button class="btn btn-outline-warning col-3" type="submit" id="name_search_btn">查詢</button>
						</div>
					</div>
				</nav>
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active" th:href="@{/gameitem/allGameitem}">查詢全部</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/gameitem/allOrder}">虛寶訂單</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/gameitem/allItemLog}">虛寶倉庫</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/gameitem/newGameitem}">新增</a>
					</li>
				</ul>
			</div>
			<div class="container-fluid">
				<div class="row my-3">
					<table id="example" class="hover row-border" style="width:100%">
						<thead>
							<tr>
								<th>道具編號</th>
								<th>圖片</th>
								<th>道具名稱</th>
								<th>遊戲</th>
								<th>道具介紹</th>
								<th>道具等級</th>
								<th>道具種類</th>
								<th>可交易</th>
								<th>新增時間</th>
								<th>更新時間</th>
								<th></th>
								<th></th>
							</tr>
						</thead>

						<tbody id="showSeachItem">
							<th:block th:each="item : ${items}">
								<tr>
									<td class="tdCenter">[[${item.itemId}]]</td>
									<td class="imgBox overflow-hidden"><img
											th:src="@{'/gameitem/downloadImage/' + ${item.itemId}}" th:alt="${item.itemImgName}"
											class="img-fluid"></td>
									<td>[[${item.itemName}]]</td>
									<td>[[${item.game.gameId}]] [[${item.game.gameName}]]</td>
									<td class="showDesc text-truncate">[[${item.itemDesc}]]</td>
									<td>[[${item.itemGrade}]]</td>
									<td>[[${item.itemType}]]</td>
									<th:block th:switch="${item.status == 1}">
										<td th:case="true" class="ps-3">
											<i class="fa-regular fa-circle-check fa-2xl" style="color: #31dd39;"></i>
										</td>
										<td th:case="false" class="ps-3">
											<i class="fa-solid fa-ban fa-2xl" style="color: #ff0000;"></i>
										</td>
									</th:block>
									<td th:text="${item} ? ${#dates.format(item.createTime, 'yyyy/MM/dd HH:mm:ss')}">
									</td>
									<td th:text="${item} ? ${#dates.format(item.updateTime, 'yyyy/MM/dd HH:mm:ss')}">
									</td>
									<td>
										<form method="get" th:action="@{/gameitem/gameitemUpdate}">
											<button type="submit" th:value="${item.itemId}" name="itemId"
												class="btn btn-info"><i class="fa-solid fa-pen"></i>
											</button>

										</form>
									</td>
									<td>
										<!-- <form method="post" th:action="@{/gameitem/gameitemDelete}" class="delForm">
											<input type="hidden" th:value="${item.itemId}" name="itemId">
											<input type="hidden" value="delete" name="_method"> -->
										<button type="submit" class="delBtn btn btn-secondary"
											th:data-id="${item.itemId}">
											<i class=" fa-solid fa-trash-can"></i>
										</button>
										<!-- </form> -->
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(function () {
			////////// showDesc //////////
			$('.showDesc').on('click', function () {
				$(this).toggleClass('text-truncate');
			});

			////////// Datatables find by name  //////////
			// $('#gameitem_search').on('keyup', function () {
			// 	console.log($(this).val());
			// 	let thisval = $(this).val()
			// 	$('#example').DataTable()
			// 		.search(thisval)
			// 		.draw();
			// })
		
			////////// dataTable ////////// 
			$('#example').DataTable({
				scrollX: true,
				"dom": 'lrtip'
			});
		})

		//////////  Delete //////////
		deleteEvent();
		function deleteEvent(){
		const deleteBtn = document.getElementsByClassName('delBtn');
		for (i = 0; i < deleteBtn.length; i++) {
			deleteBtn[i].addEventListener('click', function (e) {
				let deleteId = this.getAttribute('data-id');
				let thisRow = $(this).closest('tr');
				e.preventDefault();

				Swal.fire({
					title: '確定要刪除 道具編號 = ' + deleteId + ' 的資料?',
					text: "注意! 此操作不可復原!",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: '確定，刪除它',
					cancelButtonText: '取消'
				}).then((result) => {
					if (result.isConfirmed) {
						axios({
							url: 'http://localhost:8080/carbon/gameitem/gameitemDelete',
							method: 'delete',
							params: {
								itemId: deleteId
							}
						})
							.then(function (response) {
								console.log('response: ' + response.data);
								var table = $('#example').DataTable();
								table
									.row(thisRow)
									.remove()
									.draw()
							})
							.then(function () {
								Swal.fire(
									'刪除!',
									'道具ID = ' + deleteId + ' 的資料已被刪除.',
									'success'
								)
							})
							.catch(err => {
								console.log('err: ' + err);
								Swal.fire({
									icon: 'error',
									title: '哦不...',
									text: '出了些狀況!',
								})
							})
					}
				})
			})
		}
		}

		////////// find by name //////////
		$('#gameitem_search').on('keyup change', function () {
			let searchVal = $(this).val();
			axios({
				url: 'http://localhost:8080/carbon/gameitem/api/getGameitemByName',
				method: 'get',
				params: {
					itemName: searchVal
				}
			})
				.then(response => {
					console.log('response: ' + JSON.stringify(response.data));
					htmlMaker(response.data);
				})
				.catch(err => {
					console.log('err: ' + err);
				})
		})

		////////// all gameitem //////////
		function getAllGameItem() {
			axios.get('http://localhost:8080/carbon/gameitem/api/allGameitem')
				.then(response => {
					console.log('response: ' + response.data[0].itemName);
					htmlMaker(response.data);
				})
				.catch(err => {
					console.log('err: ' + err);
				})
		}

		////////// table for ajax //////////
		function htmlMaker(data) {
			$('#example').DataTable().destroy();
			let tbody = document.getElementById('showSeachItem');
			tbody.innerHTML = ``;
			tbody = '<tbody>';
			data.forEach(item => {
				////////// set timeformat //////////
				var options = {
					year: "numeric",
					month: "2-digit",
					day: "2-digit",
					hour: "2-digit",
					minute: "2-digit",
					second: "2-digit",
				};
				const createTime = new Date(item.createTime).toLocaleString('zh', options);
				const updateTime = new Date(item.updateTime).toLocaleString('zh', options);

				tbody += `<tr>`;
				tbody += `<td class="tdCenter">${item.itemId}</td>
					<td class="imgBox overflow-hidden">
						<img src="/carbon/gameitem/downloadImage/${item.itemId}" alt="${item.itemImgName}" class="img-fluid">
					</td>
					<td>${item.itemName}</td>
					<td>${item.game.gameId} ${item.game.gameName}</td>
					<td class="showDesc text-truncate">${item.itemDesc}</td>
					<td>${item.itemGrade}</td>
					<td>${item.itemType}</td>`;
				if (item.status == 1) {
					tbody += `<td class="ps-3">
								<i class="fa-regular fa-circle-check fa-2xl" style="color: #31dd39;"></i>
							  </td>`;
				} else {
					tbody += `<td class="ps-3">
								<i class="fa-solid fa-ban fa-2xl" style="color: #ff0000;"></i>
							  </td>`;
				}
				tbody += `<td>${createTime}</td>`
				if (item.updateTime == null) {
					tbody += `<td></td>`
				} else {
					tbody += `<td>${updateTime}</td>`
				}
				tbody += `<td>
						<form method="get" action="/carbon/gameitem/gameitemUpdate">
							<button type="submit" value="${item.itemId}" name="itemId" class="btn btn-info">
								<i class="fa-solid fa-pen"></i>
							</button>
						</form>
					</td>
					<td>
						<button type="submit" class="delBtn btn btn-secondary" data-id="${item.itemId}">
							<i class="fa-solid fa-trash-can"></i>
						</button>
					</td>`;
				tbody += `</tr>`;
			})
			tbody += '</tbody>';
			const itemTable = document.getElementById('example');
			itemTable.getElementsByTagName('tbody')[0].innerHTML = tbody;
			
			deleteEvent();
			////////// showDesc //////////
			$('.showDesc').on('click', function () {
				$(this).toggleClass('text-truncate');
			});

			$('#example').DataTable({
				scrollX: true,
				"dom": 'lrtip'
			});

		}
	</script>
</body>

</html>