<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<style>
		table {
			background-color: rgb(33, 37, 41);
		}

		table td,
		table th {
			max-width: 170px;
		}

		.tdCenter {
			text-align: center;
		}

		.imgBox {
			width: 100px;
			height: 100px;
		}

		.showDesc {
			cursor: pointer;
		}

		.section-big {
			max-width: calc(100% - 42px);
		}

		.section-small {
			max-width: calc(100% - 200px);
		}
	</style>
	<title>Game Item</title>
</head>

<body>
	<div th:replace="~{layout/navMain}"></div>
	<div class="d-flex">
		<div th:replace="~{layout/asideMain}"></div>
		<div class="w-100 section section-big">
			<div class="content mt-3">
				<nav class="navbar navColor">
					<div class="container-fluid">
						<a class="navbar-brand link-light" th:href="@{/gameitem}" style="font-size: 30px;">遊戲虛寶</a>
						<div class="d-flex" role="search">
							<input class="form-control me-2" type="search" placeholder="查詢" aria-label="Search"
								name="itemName" id="order_search">
							<button class="btn btn-outline-warning col-3" type="submit"
								id="order_search_btn">查詢</button>
						</div>
					</div>
				</nav>
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/gameitem/allGameitem}">查詢全部</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" th:href="@{/gameitem/allOrder}">虛寶訂單</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/gameitem/allItemLog}">虛寶倉庫</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/gameitem/newGameitem}">新增</a>
					</li>
				</ul>
			</div>
			<div class="container-fluid">
				<div class="row my-3">
					<table id="order_table" class="hover row-border" style="width:100%">
						<thead>
							<tr>
								<th>編號</th>
								<th>道具</th>
								<th>買家</th>
								<th>賣家</th>
								<th>數量</th>
								<th>單價</th>
								<th>狀態</th>
								<th>新增時間</th>
								<th>更新時間</th>
								<th></th>
							</tr>
						</thead>

						<tbody id="showSeachItem">
							<th:block th:each="order : ${orders}">
								<tr>
									<td class="tdCenter">[[${order.ordId}]]</td>
									<td>
										<span class="me-3">[[${order.itemId}]]</span>
										<span>[[${order.gameItem.itemName}]]</span>
									</td>
									<th:block th:switch="${order.buyer != null}">
										<td th:case="true">
											<span class="me-3">[[${order.buyer}]]</span>
											<span>[[${order.buy.memberName}]]</span>
										</td>
										<td th:case="false"></td>
									</th:block>
									<th:block th:switch="${order.seller != null}">
										<td th:case="true">
											<span class="me-3">[[${order.seller}]]</span>
											<span>[[${order.sell.memberName}]]</span>
										</td>
										<td th:case="false"></td>
									</th:block>
									<td>[[${order.quantity}]]</td>
									<td>[[${order.price}]]</td>
									<td th:if="${order.status == 1}" class="ps-3 ordStatus">
										<span class="statusMsg">掛單</span>
										<select name="status" id="status1" class="form-select d-none"
											aria-label="form-select-lg example" style="width:85px">
											<option value="1" selected>掛單</option>
											<option value="2">成交</option>
											<option value="0">棄單</option>
										</select>
									</td>
									<td th:if="${order.status == 2}" class="ps-3 ordStatus">
										<span class="statusMsg">成交</span>
										<select name="status" id="status1" class="form-select d-none"
											aria-label="form-select-lg example" style="width:85px">
											<option value="1">掛單</option>
											<option value="2" selected>成交</option>
											<option value="0">棄單</option>
										</select>
									</td>
									<td th:if="${order.status == 0}" class="ps-3 ordStatus">
										<span class="statusMsg">棄單</span>
										<select name="status" id="status1" class="form-select d-none"
											aria-label="form-select-lg example" style="width:85px">
											<option value="1">掛單</option>
											<option value="2">成交</option>
											<option value="0" selected>棄單</option>
										</select>
									</td>
									<td th:text="${order} ? ${#dates.format(order.createTime, 'yyyy/MM/dd HH:mm:ss')}">
									</td>
									<td th:text="${order} ? ${#dates.format(order.updateTime, 'yyyy/MM/dd HH:mm:ss')}">
									</td>
									<td>
										<button class="btn btn-info updateBtn" id="updateBtn1"><i
												class="fa-solid fa-pen"></i>
										</button>
										<button type="submit" th:data-id="${order.ordId}"
											class="btn btn-success submitBtn d-none" id="submitBtn1"><i
												class="fa-solid fa-check"></i>
										</button>
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(function () {
			////////// dataTable //////////
			$('#order_table').DataTable({
				scrollX: true,
				"dom": 'lrtip'
			});

			////////// showDesc //////////
			$('.showDesc').on('click', function () {
				$(this).toggleClass('text-truncate');
			});

			////////// Datatables find by name  //////////
			$('#order_search').on('keyup', function () {
				console.log($(this).val());
				let thisval = $(this).val()
				$('#order_table').DataTable()
					.search(thisval)
					.draw();
			})
		})


		////////// find by name //////////
		// $('#order_search').on('keyup change', function () {
		// 	let searchVal = $(this).val();
		// 	axios({
		// 		url: 'http://localhost:8080/group5/gameitem/api/getGameitemByName',
		// 		method: 'get',
		// 		params: {
		// 			itemName: searchVal
		// 		}
		// 	})
		// 		.then(response => {
		// 			console.log('response: ' + JSON.stringify(response.data));
		// 			htmlMaker(response.data);
		// 		})
		// 		.catch(err => {
		// 			console.log('err: ' + err);
		// 		})
		// })

		////////// update status ajax //////////
		updateAjex();
		function updateAjex() {
			const updateBtn = document.getElementsByClassName('updateBtn');
			for (i = 0; i < updateBtn.length; i++) {
				updateBtn[i].addEventListener('click', function (e) {
					e.preventDefault();
					let select = $(this).parent().parent().find('select').removeClass('d-none');
					let selectMsg = $(this).parent().parent().find('.statusMsg').addClass('d-none');
					let submitBtn = $(this).next().removeClass('d-none');
					let updateBtn = $(this).addClass('d-none');

					submitBtn.on('click', function () {
						let ordId = $(this).attr('data-id');
						console.log(ordId);
						console.log(select.val());
						axios({
							url: '/carbon/gameitem/orderUpdate',
							method: 'put',
							data: {
								ordId: ordId,
								status: select.val()
							}
						})
							.then(res => {
								console.log(res.data);
								return res.data
							})
							.then(result => {
								if (result) {
									Swal.fire('Saved!', '', 'success')
									getAllGameItem();
								}
							})
							.catch(err => {
								console.log('err: ' + err);
							})
					})
				})
			}
		}


		////////// all gameitem //////////
		function getAllGameItem() {
			axios.get('http://localhost:8080/carbon/gameitem/api/allOrder')
				.then(response => {
					console.log('response: ' + JSON.stringify(response.data));
					htmlMaker(response.data);
				})
				.catch(err => {
					console.log('err: ' + err);
				})
		}

		////////// table for ajax //////////
		function htmlMaker(data) {
			$('#order_table').DataTable().destroy();
			let tbody = document.getElementById('showSeachItem');
			tbody.innerHTML = ``;
			tbody = '<tbody>';
			data.forEach(order => {
				////////// set timeformat //////////
				var options = {
					year: "numeric",
					month: "2-digit",
					day: "2-digit",
					hour: "2-digit",
					minute: "2-digit",
					second: "2-digit",
				};
				const createTime = new Date(order.createTime).toLocaleString('zh', options);
				const updateTime = new Date(order.updateTime).toLocaleString('zh', options);

				tbody += `<tr>`;
				tbody += `<td class="tdCenter">${order.ordId}</td>
							<td>
								<span
									class="me-3">${order.itemId}</span><span>${order.gameItem.itemName}</span>
							</td>`;
				if (order.buyer != null) {
					tbody += `<td>
								<span class="me-3">
									${order.buyer}</span><span>${order.buy.memberName}</span>
							  </td>`;
				} else {
					tbody += `<td></td>`;
				}
				if (order.seller != null) {
					tbody += `<td>
								<span class="me-3">
									${order.seller}</span><span>${order.sell.memberName}</span>
							  </td>`;
				} else {
					tbody += `<td></td>`;
				}
				tbody += `<td>${order.quantity}</td>
							<td>${order.price}</td>`;
				if (order.status == 1) {
					tbody += `<td class="ps-3 ordStatus">
								<span class="statusMsg">掛單</span>
									<select name="status" id="status1" class="form-select d-none"
										aria-label="form-select-lg example" style="width:85px">
										<option value="1" selected>掛單</option>
										<option value="2">成交</option>
										<option value="0">棄單</option>
									</select>
								</td>`;
				} else if (order.status == 2) {
					tbody += `<td class="ps-3 ordStatus">
								<span class="statusMsg">成交</span>
									<select name="status" id="status1" class="form-select d-none"
										aria-label="form-select-lg example" style="width:85px">
										<option value="1">掛單</option>
										<option value="2" selected>成交</option>
										<option value="0">棄單</option>
									</select>
								</td>`;
				} else {
					tbody += `<td class="ps-3 ordStatus">
								<span class="statusMsg">棄單</span>
									<select name="status" id="status1" class="form-select d-none"
										aria-label="form-select-lg example" style="width:85px">
										<option value="1">掛單</option>
										<option value="2">成交</option>
										<option value="0" selected>棄單</option>
									</select>
								</td>`;
				}
				tbody += `<td>${createTime}</td>`;
				if (order.updateTime == null) {
					tbody += `<td></td>`
				} else {
					tbody += `<td>${updateTime}</td>`;
				}
				tbody += `<td>
								<button class="btn btn-info updateBtn" id="updateBtn1"><i
										class="fa-solid fa-pen"></i>
								</button>
								<button type="submit" data-id="${order.ordId}"
									class="btn btn-success submitBtn d-none" id="submitBtn1"><i
										class="fa-solid fa-check"></i>
								</button>
							</td>`;
				tbody += `</tr>`;
			})
			tbody += '</tbody>';
			const itemTable = document.getElementById('order_table');
			itemTable.getElementsByTagName('tbody')[0].innerHTML = tbody;

			updateAjex();

			$('#order_table').DataTable({
				scrollX: true,
				"dom": 'lrtip'
			});

			////////// showDesc //////////
			$('.showDesc').on('click', function () {
				$(this).toggleClass('text-truncate');
			});
		}
	</script>
</body>

</html>