<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>GoodGames | 404</title>

    <!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7cOpen+Sans:400,700"
	rel="stylesheet" type="text/css">

<!-- Bootstrap -->
<link rel="stylesheet"
	th:href="@{/assets/vendor/bootstrap/dist/css/bootstrap.min.css}">

<!-- FontAwesome -->
<script defer th:src="@{/assets/vendor/fontawesome-free/js/all.js}"></script>
<script defer th:src="@{/assets/vendor/fontawesome-free/js/v4-shims.js}"></script>

<!-- IonIcons -->
<link rel="stylesheet"
	th:href="@{/assets/vendor/ionicons/css/ionicons.min.css}">

<!-- Flickity -->
<link rel="stylesheet"
	th:href="@{/assets/vendor/flickity/dist/flickity.min.css}">

<!-- Photoswipe -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendor/photoswipe/dist/photoswipe.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendor/photoswipe/dist/default-skin/default-skin.css}">

<!-- Seiyria Bootstrap Slider -->
<link rel="stylesheet"
	th:href="@{/assets/vendor/bootstrap-slider/dist/css/bootstrap-slider.min.css}">

<!-- Summernote -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendor/summernote/dist/summernote-bs4.css}">

<!-- GoodGames -->
<link rel="stylesheet" th:href="@{/assets/css/goodgames.css}">

<!-- Custom Styles -->
<link rel="stylesheet" th:href="@{/assets/css/custom.css}">

<!-- END: Styles -->

<!-- jQuery -->
<script th:src="@{/assets/vendor/jquery/dist/jquery.min.js}"></script>
    
    
    
</head>


<!--
    Additional Classes:
        .nk-page-boxed
-->
<body>
    
    

    <div class="nk-main">
        

        
<div class="nk-fullscreen-block">
    <div class="nk-fullscreen-block-top">
        <div class="text-center">
            <div class="nk-gap-4"></div>
            <div class="nk-gap-2"></div>
        </div>
    </div>
    <div class="nk-fullscreen-block-middle">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                    <h1 class="text-main-1" style="font-size: 150px;">404</h1>

                    <div class="nk-gap"></div>
                    <h2 class="h4">You chose the wrong path!</h2>

                    <div>Or such a page just doesn't exist... <br> Would you like to go back to the homepage?</div>
                    <div class="nk-gap-3"></div>

                    <a href="/carbon" class="nk-btn nk-btn-rounded nk-btn-color-white">Return to Homepage</a>
                </div>
            </div>
            <div class="nk-gap-3"></div>
        </div>
    </div>
    <div class="nk-fullscreen-block-bottom">
        <div class="nk-gap-2"></div>
        <ul class="nk-social-links-2 nk-social-links-center">
            <li><a class="nk-social-rss" href="#"><span class="fa fa-rss"></span></a></li>
            <li><a class="nk-social-twitch" href="#"><span class="fab fa-twitch"></span></a></li>
            <li><a class="nk-social-steam" href="#"><span class="fab fa-steam"></span></a></li>
            <li><a class="nk-social-facebook" href="#"><span class="fab fa-facebook"></span></a></li>
            <li><a class="nk-social-google-plus" href="#"><span class="fab fa-google-plus"></span></a></li>
            <li><a class="nk-social-twitter" href="#" target="_blank"><span class="fab fa-twitter"></span></a></li>
            <li><a class="nk-social-pinterest" href="#"><span class="fab fa-pinterest-p"></span></a></li>

            <!-- Additional Social Buttons
                <li><a class="nk-social-behance" href="#"><span class="fab fa-behance"></span></a></li>
                <li><a class="nk-social-bitbucket" href="#"><span class="fab fa-bitbucket"></span></a></li>
                <li><a class="nk-social-dropbox" href="#"><span class="fab fa-dropbox"></span></a></li>
                <li><a class="nk-social-dribbble" href="#"><span class="fab fa-dribbble"></span></a></li>
                <li><a class="nk-social-deviantart" href="#"><span class="fab fa-deviantart"></span></a></li>
                <li><a class="nk-social-flickr" href="#"><span class="fab fa-flickr"></span></a></li>
                <li><a class="nk-social-foursquare" href="#"><span class="fab fa-foursquare"></span></a></li>
                <li><a class="nk-social-github" href="#"><span class="fab fa-github"></span></a></li>
                <li><a class="nk-social-instagram" href="#"><span class="fab fa-instagram"></span></a></li>
                <li><a class="nk-social-linkedin" href="#"><span class="fab fa-linkedin"></span></a></li>
                <li><a class="nk-social-medium" href="#"><span class="fab fa-medium"></span></a></li>
                <li><a class="nk-social-odnoklassniki" href="#"><span class="fab fa-odnoklassniki"></span></a></li>
                <li><a class="nk-social-paypal" href="#"><span class="fab fa-paypal"></span></a></li>
                <li><a class="nk-social-reddit" href="#"><span class="fab fa-reddit"></span></a></li>
                <li><a class="nk-social-skype" href="#"><span class="fab fa-skype"></span></a></li>
                <li><a class="nk-social-soundcloud" href="#"><span class="fab fa-soundcloud"></span></a></li>
                <li><a class="nk-social-slack" href="#"><span class="fab fa-slack"></span></a></li>
                <li><a class="nk-social-tumblr" href="#"><span class="fab fa-tumblr"></span></a></li>
                <li><a class="nk-social-vimeo" href="#"><span class="fab fa-vimeo"></span></a></li>
                <li><a class="nk-social-vk" href="#"><span class="fab fa-vk"></span></a></li>
                <li><a class="nk-social-wordpress" href="#"><span class="fab fa-wordpress"></span></a></li>
                <li><a class="nk-social-youtube" href="#"><span class="fab fa-youtube"></span></a></li>
            -->
        </ul>
        <div class="nk-gap-2"></div>
    </div>
</div>


        
    </div>

    

    
        <!-- START: Page Background -->

    <div class="nk-page-background-fixed" style="background-image: url('/carbon/assets/images/bg-fixed-2.jpg');"></div>

<!-- END: Page Background -->


    
	<!-- START: Scripts -->

	<!-- Object Fit Polyfill -->
	<script th:src="@{/assets/vendor/object-fit-images/dist/ofi.min.js}"></script>

	<!-- GSAP -->
	<script th:src="@{/assets/vendor/gsap/src/minified/TweenMax.min.js}"></script>
	<script
		th:src="@{/assets/vendor/gsap/src/minified/plugins/ScrollToPlugin.min.js}"></script>

	<!-- Popper -->
	<script th:src="@{/assets/vendor/popper.js/dist/umd/popper.min.js}"></script>

	<!-- Bootstrap -->
	<script th:src="@{/assets/vendor/bootstrap/dist/js/bootstrap.min.js}"></script>

	<!-- Sticky Kit -->
	<script th:src="@{/assets/vendor/sticky-kit/dist/sticky-kit.min.js}"></script>

	<!-- Jarallax -->
	<script th:src="@{/assets/vendor/jarallax/dist/jarallax.min.js}"></script>
	<script th:src="@{/assets/vendor/jarallax/dist/jarallax-video.min.js}"></script>

	<!-- imagesLoaded -->
	<script
		th:src="@{/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js}"></script>

	<!-- Flickity -->
	<script th:src="@{/assets/vendor/flickity/dist/flickity.pkgd.min.js}"></script>

	<!-- Photoswipe -->
	<script th:src="@{/assets/vendor/photoswipe/dist/photoswipe.min.js}"></script>
	<script
		th:src="@{/assets/vendor/photoswipe/dist/photoswipe-ui-default.min.js}"></script>

	<!-- Jquery Validation -->
	<script
		th:src="@{/assets/vendor/jquery-validation/dist/jquery.validate.min.js}"></script>

	<!-- Jquery Countdown + Moment -->
	<script
		th:src="@{/assets/vendor/jquery-countdown/dist/jquery.countdown.min.js}"></script>
	<script th:src="@{/assets/vendor/moment/min/moment.min.js}"></script>
	<script
		th:src="@{/assets/vendor/moment-timezone/builds/moment-timezone-with-data.min.js}"></script>

	<!-- Hammer.js -->
	<script th:src="@{/assets/vendor/hammerjs/hammer.min.js}"></script>

	<!-- NanoSroller -->
	<script
		th:src="@{/assets/vendor/nanoscroller/bin/javascripts/jquery.nanoscroller.js}"></script>

	<!-- SoundManager2 -->
	<script
		th:src="@{/assets/vendor/soundmanager2/script/soundmanager2-nodebug-jsmin.js}"></script>

	<!-- Seiyria Bootstrap Slider -->
	<script
		th:src="@{/assets/vendor/bootstrap-slider/dist/bootstrap-slider.min.js}"></script>

	<!-- Summernote -->
	<script
		th:src="@{/assets/vendor/summernote/dist/summernote-bs4.min.js}"></script>

	<!-- nK Share -->
	<script th:src="@{/assets/plugins/nk-share/nk-share.js}"></script>

	<!-- GoodGames -->
	<script th:src="@{/assets/js/goodgames.min.js}"></script>
	<script th:src="@{/assets/js/goodgames-init.js}"></script>
	<!-- END: Scripts -->



    
</body>
</html>
