<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>[[${gameDTO.gameName}]]</title>

<!-- START: Styles -->

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7cOpen+Sans:400,700"
	rel="stylesheet" type="text/css">

<!-- Bootstrap -->
<link rel="stylesheet"
	th:href="@{/assets/vendor/bootstrap/dist/css/bootstrap.min.css}">

<!-- FontAwesome -->
<script defer th:src="@{/assets/vendor/fontawesome-free/js/all.js}"></script>
<script defer th:src="@{/assets/vendor/fontawesome-free/js/v4-shims.js}"></script>

<!-- IonIcons -->
<link rel="stylesheet"
	th:href="@{/assets/vendor/ionicons/css/ionicons.min.css}">

<!-- Flickity -->
<link rel="stylesheet"
	th:href="@{/assets/vendor/flickity/dist/flickity.min.css}">

<!-- Photoswipe -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendor/photoswipe/dist/photoswipe.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendor/photoswipe/dist/default-skin/default-skin.css}">

<!-- Seiyria Bootstrap Slider -->
<link rel="stylesheet"
	th:href="@{/assets/vendor/bootstrap-slider/dist/css/bootstrap-slider.min.css}">

<!-- Summernote -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendor/summernote/dist/summernote-bs4.css}">

<!-- GoodGames -->
<link rel="stylesheet" th:href="@{/assets/css/goodgames.css}">

<!-- Custom Styles -->
<link rel="stylesheet" th:href="@{/assets/css/custom.css}">

<!-- END: Styles -->

<!-- jQuery -->
<script th:src="@{/assets/vendor/jquery/dist/jquery.min.js}"></script>

</head>
<body>
	<div
		th:replace="${session.memberBeans} ? ~{layout/navHomeLogin} : ~{layout/navHome} "></div>
	<div class="container ">

		<!-- START: Breadcrumbs -->
		<div class="container" style="margin-top: -100px; font-size: 16px">
			<ul class="nk-breadcrumbs">
				<li>首頁</li>
				<li><span class="fa fa-angle-right"></span></li>
				<li>遊戲列表</li>
				<li><span class="fa fa-angle-right"></span></li>
				<li><span>[[${gameDTO.gameName}]] </span></li>

			</ul>

			<div class="nk-gap-1"></div>
			
			<!-- END: Breadcrumbs -->
			<div class="row vertical-gap">
				<div class="col-lg-8">
					<div class="nk-store-product">
						<div class="row vertical-gap align-items-center">
							<div class="col-md-6">
								<!-- START: Product Photos -->
								<div class="nk-popup-gallery  ">
									<div class="nk-gallery-item-box">
										<a
											th:href="@{'/gameFront/getImg/'+${gameDTO.gamePhotoLists[0]}}"
											class="nk-gallery-item" data-size="1200x554">
											<div class="nk-gallery-item-overlay">
												<span class="ion-eye"></span>
											</div> <img
											th:src="@{'/gameFront/getImg/'+${gameDTO.gamePhotoLists[0]}}"
											alt="">
										</a>
									</div>
									<div class="nk-gap-1"></div>
									<div class="row vertical-gap sm-gap">
										<th:block th:each="photoID,iterStat:${gameDTO.gamePhotoLists}"
											th:if="${iterStat.index} < 3">
											<div class="col-6 col-md-4">
												<div class="nk-gallery-item-box">
													<a th:href="@{'/gameFront/getImg/'+${photoID}}"
														class="nk-gallery-item" data-size="1200x554">
														<div class="nk-gallery-item-overlay">
															<span class="ion-eye"></span>
														</div> <img th:src="@{'/gameFront/getImg/'+${photoID}}" alt="">
													</a>
												</div>
											</div>
										</th:block>
									</div>
								</div>
								<!-- END: Product Photos -->
							</div>
							<div class="col-md-6">

								<h2 class="nk-product-title h3">[[${gameDTO.gameName}]]</h2>

								<div>
									<h5
										th:text="${#dates.format(gameDTO.createDate, 'yyyy-MM-dd')}"></h5>
								</div>

								<div class="nk-product-description">
									<p style="color: #b9a5a5">[[${gameDTO.gameIntroduce}]]</p>
								</div>

								<!-- START: Add to Cart -->
								<div class="nk-gap-2"></div>
								<div class="d-flex justify-content-between align-items-center">

									<div class="nk-product-price">NT$[[${gameDTO.price}]]</div>
									<div>
										<button
											class="nk-btn nk-btn-rounded nk-btn-color-main-1 add-to-cart-button"
											th:data-game-id="${gameDTO.gameId}"
											th:data-game-name="${gameDTO.gameName}"
											th:data-price="${gameDTO.price}"
											th:data-photo="${gameDTO.gamePhotoLists[0]}"
											onclick="addToCart(event)">加入購物車</button>
									</div>
								</div>
								<div class="nk-gap-1"></div>
								<!-- END: Add to Cart -->

							</div>
						</div>

						<!-- START: Share -->
						<div class="nk-gap-2"></div>
						<div class="nk-post-share">
							<!-- START: Meta -->
								<div class="nk-product-meta w-100">
										<span><strong>Tags</strong>:</span>
										
										<span class="float-right"><th:block th:each='type,iterStat:${gameDTO.gameTypes.split(",")}'>
											<a th:href="@{/gameFront}"><strong>[[${type}]]</strong></a>
											<span th:if="${!iterStat.last}">,</span>
										</th:block>
										</sapn>
								</div>

								<!-- Additional Share Buttons
                            <li><span class="nk-social-linkedin" title="Share page on LinkedIn" data-share="linkedin"><span class="fab fa-linkedin"></span></span></li>
                            <li><span class="nk-social-vk" title="Share page on VK" data-share="vk"><span class="fab fa-vk"></span></span></li>
                        -->
						</div>
						<!-- END: Share -->


					</div>


					<div class="nk-gap-2"></div>
					<!-- START: Tabs -->
					<div class="nk-tabs">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item"><a class="nav-link active"
								href="#tab-description" role="tab" data-toggle="tab">Description</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="#tab-reviews"
								role="tab" data-toggle="tab">Reviews (3)</a></li>
						</ul>

						<div class="tab-content">

							<!-- START: Tab Description -->
							<div role="tabpanel" class="tab-pane fade show active"
								id="tab-description">
								<div class="nk-gap"></div>
								<!-- START: Reply -->
								<h3 class="h4">Add a Review</h3>
								<div class="nk-reply">
									<form action="#" class="nk-form">
										<div class="row vertical-gap sm-gap">
											<div class="col-sm-6">
												<input type="text" class="form-control required" name="name"
													placeholder="Name *">
											</div>
											<div class="col-sm-6">
												<input type="text" class="form-control required"
													name="title" placeholder="Title *">
											</div>
										</div>
										<div class="nk-gap-1"></div>
										<textarea class="form-control required" name="message"
											rows="5" placeholder="Your Review *" aria-required="true"></textarea>
										<div class="nk-gap-1"></div>
										<div class="nk-rating">
											<input type="radio" id="review-rate-5" name="review-rate"
												value="5"> <label for="review-rate-5"> <span><i
													class="far fa-star"></i></span> <span><i class="fa fa-star"></i></span>
											</label> <input type="radio" id="review-rate-4" name="review-rate"
												value="4"> <label for="review-rate-4"> <span><i
													class="far fa-star"></i></span> <span><i class="fa fa-star"></i></span>
											</label> <input type="radio" id="review-rate-3" name="review-rate"
												value="3"> <label for="review-rate-3"> <span><i
													class="far fa-star"></i></span> <span><i class="fa fa-star"></i></span>
											</label> <input type="radio" id="review-rate-2" name="review-rate"
												value="2"> <label for="review-rate-2"> <span><i
													class="far fa-star"></i></span> <span><i class="fa fa-star"></i></span>
											</label> <input type="radio" id="review-rate-1" name="review-rate"
												value="1"> <label for="review-rate-1"> <span><i
													class="far fa-star"></i></span> <span><i class="fa fa-star"></i></span>
											</label>
										</div>
										<button
											class="nk-btn nk-btn-rounded nk-btn-color-dark-3 float-right">Submit</button>
									</form>
								</div>
								<!-- END: Reply -->
							</div>
							<!-- END: Tab Description -->

							<!-- START: Tab Reviews -->
							<div role="tabpanel" class="tab-pane fade" id="tab-reviews">
								<div class="nk-gap-2"></div>


								<div class="clearfix"></div>
								<div class="nk-gap-2"></div>
								<div class="nk-comments">
									<!-- START: Review -->
									<div class="nk-comment" style="color: #b9a5a5">
										<div class="nk-comment-meta">
											<a href="#">Witch Murder</a> in 20 September, 2018
											<div class="nk-review-rating" data-rating="4.5">
												<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
													class="fa fa-star"></i> <i class="fa fa-star"></i> <i
													class="far fa-star"></i>
											</div>
										</div>
										<div class="nk-comment-text">
											<p>Upon replenish great rule. Were tree, given day him
												night Fruit it moveth all. First they're creature seasons
												and creature fill a it have fifth, their own subdue brought
												above divided.</p>

											<p>Behold it set, seas seas and meat divided Moveth
												cattle forth evening above moveth so, signs god a fruitful
												his after called that whose.</p>
										</div>
									</div>
									<!-- END: Review -->
									<!-- START: Review -->
									<div class="nk-comment" style="color: #b9a5a5">
										<div class="nk-comment-meta">
											<a href="#">Hitman</a>in 14 Jule, 2018
											<div class="nk-review-rating" data-rating="0.5">
												<i class="fa fa-star"></i> <i class="far fa-star"></i> <i
													class="far fa-star"></i> <i class="far fa-star"></i> <i
													class="far fa-star"></i>
											</div>
										</div>
										<div class="nk-comment-text">
											<p>I was awakened at daybreak by the charwoman, and
												having arrived at the inn, was at first placed inside the
												coach. :(</p>
										</div>
									</div>
									<!-- END: Review -->
								</div>
							</div>
							<!-- END: Tab Reviews -->

						</div>
					</div>
					<!-- END: Tabs -->
					<!-- START: Related Products -->
					<div class="nk-gap-3"></div>
					<h3 class="nk-decorated-h-2">
						<span><span class="text-main-1">同類型</span> 遊戲列表</span>
					</h3>
					<div class="nk-gap"></div>
					<div class="row vertical-gap">

						<th:block th:each="sixGame:${sixGames}">
							<div class="col-md-6">
								<div class="nk-product-cat">
									<a class="nk-product-image"
										th:href="@{'/gameFront/'+${sixGame.gameName}}"> <img
										th:src="@{'/gameFront/getImg/'+${sixGame.gamePhotoLists[0]}}"
										alt="作者很懶沒有提供圖片">
									</a>
									<div class="nk-product-cont">
										<h3 class="nk-product-title h5">
											<a th:href="@{'/gameFront/'+${sixGame.gameName}}">[[${sixGame.gameName}]]</a>
										</h3>
										<div class="nk-gap-1"></div>
										<div class="nk-product-rating" data-rating="3">
											<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
												class="fa fa-star"></i> <i class="far fa-star"></i> <i
												class="far fa-star"></i>
										</div>
										<div class="nk-gap-1"></div>
										<div class="nk-product-price">NT$[[${sixGame.price}]]</div>
									</div>
								</div>
							</div>
						</th:block>


					</div>
					<!-- END: Related Products -->
				</div>
				<div class="col-lg-4">
					<aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky">

						<div class="nk-widget nk-widget-highlighted">
							<h4 class="nk-widget-title">
								<span><span class="text-main-1">遊戲類別</span>目錄</span>
							</h4>
							<div class="nk-widget-content">
								<ul class="nk-widget-categories">
									<th:block th:each="type, iterStat : ${typeList}"
										th:if="${iterStat.index} &lt; 5">
										<li><a th:href="@{/gameFront}">[[${type.getTypeName}]]</a></li>
									</th:block>
								</ul>
							</div>
						</div>
						<div class="nk-widget nk-widget-highlighted">
							<h4 class="nk-widget-title">
								<span><span class="text-main-1">Price</span> Filter</span>
							</h4>
							<div class="nk-widget-content">
								<div class="nk-input-slider">
									<input type="text" name="price-filter" data-slider-min="0"
										data-slider-max="1800" data-slider-step="1"
										data-slider-value="[200, 1200]" data-slider-tooltip="hide">
									<div class="nk-gap"></div>
									<div>
										<div class="text-white mt-4 float-left">
											PRICE: <strong class="text-main-1">NT$<span
												class="nk-input-slider-value-0"></span></strong> - <strong
												class="text-main-1">NT$<span
												class="nk-input-slider-value-1"></span></strong>
										</div>
										<a th:href="@{/gameFront}"
											class="nk-btn nk-btn-rounded nk-btn-color-white float-right">Apply</a>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
						<div class="nk-widget nk-widget-highlighted">
							<h4 class="nk-widget-title">
								<span><span class="text-main-1">熱門</span> 遊戲</span>
							</h4>
							<th:block th:each="hotGame,iterStat:${gameList}"
								th:if="${iterStat.index} &lt; 3">
								<div class="nk-widget-content">

									<div class="nk-widget-post">
										<a th:href="@{'/gameFront/'+${hotGame.gameName}}"
											class="nk-post-image"> <img
											th:src="@{'/gameFront/getImg/'+${hotGame.gamePhotoLists[0]}}"
											alt="作者很懶沒有提供圖片">
										</a>
										<h3 class="nk-post-title">
											<a th:href="@{'/gameFront/'+${hotGame.gameName}}">[[${hotGame.getGameName}]]</a>
										</h3>
										<div class="nk-product-rating" data-rating="4">
											<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
												class="fa fa-star"></i> <i class="fa fa-star"></i> <i
												class="far fa-star"></i>
										</div>
										<div class="nk-product-price">NT$[[${hotGame.price}]]</div>
									</div>

								</div>
							</th:block>
						</div>


					</aside>
					<!-- END: Sidebar -->
				</div>
			</div>
		</div>
	</div>
	<div class="nk-gap-3"></div>


	<div th:replace="~{layout/footer}"></div>
	<!-- START: Scripts -->

	<!-- Object Fit Polyfill -->
	<script th:src="@{/assets/vendor/object-fit-images/dist/ofi.min.js}"></script>

	<!-- GSAP -->
	<script th:src="@{/assets/vendor/gsap/src/minified/TweenMax.min.js}"></script>
	<script
		th:src="@{/assets/vendor/gsap/src/minified/plugins/ScrollToPlugin.min.js}"></script>

	<!-- Popper -->
	<script th:src="@{/assets/vendor/popper.js/dist/umd/popper.min.js}"></script>

	<!-- Bootstrap -->
	<script th:src="@{/assets/vendor/bootstrap/dist/js/bootstrap.min.js}"></script>

	<!-- Sticky Kit -->
	<script th:src="@{/assets/vendor/sticky-kit/dist/sticky-kit.min.js}"></script>

	<!-- Jarallax -->
	<script th:src="@{/assets/vendor/jarallax/dist/jarallax.min.js}"></script>
	<script th:src="@{/assets/vendor/jarallax/dist/jarallax-video.min.js}"></script>

	<!-- imagesLoaded -->
	<script
		th:src="@{/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js}"></script>

	<!-- Flickity -->
	<script th:src="@{/assets/vendor/flickity/dist/flickity.pkgd.min.js}"></script>

	<!-- Photoswipe -->
	<script th:src="@{/assets/vendor/photoswipe/dist/photoswipe.min.js}"></script>
	<script
		th:src="@{/assets/vendor/photoswipe/dist/photoswipe-ui-default.min.js}"></script>

	<!-- Jquery Validation -->
	<script
		th:src="@{/assets/vendor/jquery-validation/dist/jquery.validate.min.js}"></script>

	<!-- Jquery Countdown + Moment -->
	<script
		th:src="@{/assets/vendor/jquery-countdown/dist/jquery.countdown.min.js}"></script>
	<script th:src="@{/assets/vendor/moment/min/moment.min.js}"></script>
	<script
		th:src="@{/assets/vendor/moment-timezone/builds/moment-timezone-with-data.min.js}"></script>

	<!-- Hammer.js -->
	<script th:src="@{/assets/vendor/hammerjs/hammer.min.js}"></script>

	<!-- NanoSroller -->
	<script
		th:src="@{/assets/vendor/nanoscroller/bin/javascripts/jquery.nanoscroller.js}"></script>

	<!-- SoundManager2 -->
	<script
		th:src="@{/assets/vendor/soundmanager2/script/soundmanager2-nodebug-jsmin.js}"></script>

	<!-- Seiyria Bootstrap Slider -->
	<script
		th:src="@{/assets/vendor/bootstrap-slider/dist/bootstrap-slider.min.js}"></script>

	<!-- Summernote -->
	<script
		th:src="@{/assets/vendor/summernote/dist/summernote-bs4.min.js}"></script>

	<!-- nK Share -->
	<script th:src="@{/assets/plugins/nk-share/nk-share.js}"></script>

	<!-- GoodGames -->
	<script th:src="@{/assets/js/goodgames.min.js}"></script>
	<script th:src="@{/assets/js/goodgames-init.js}"></script>
	<!-- END: Scripts -->

</body>
</html>
