<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>論壇頁面</title>
  <style>
    .list-group-item {
      align-items: center;
    }

    .post-image {
      flex-shrink: 0;
      width: 100px;
      height: 100px;
      margin-right: 20px;
    }

    .post-content {
      flex-grow: 1;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-10">
        <h1>論壇</h1>
        <div class="list-group">
          <a th:each="discussion : ${discussions}" href="#" class="list-group-item list-group-item-action">
            <div class="d-flex">
              <img width="200px"
                   th:src="@{'/discussionsdownloadImage/' + ${discussion.articleId}}"
                   class="img-fluid">

              <div class="post-content">
                <h5 class="mb-1 text-center" th:text="${discussion.title}">帖子標題</h5>
                <p class="mb-1 text-center" th:text="${discussion.dcontent}">帖子內容...</p>
                <small class="text-muted text-center" th:text="${discussion.userName}">作者</small>
                <small class="text-muted text-center" th:text="${discussion.lastReplyTime}">最後回覆時間</small>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
