body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
    background-size: cover;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(102, 102, 102, 0.589)), url("../img/test1.jpg");
}

.mainContainer {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
}

.mainContainer h2 {
    position: relative;
    left: 325px;
    top: 175px;
    color: white;
}

.registerFormContainer {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #00000000;
    top: 135px;
    left: 250px;
    width: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 30px;
}

.registerFormContainer span {
    color: white;
    font-size: 25px;
    margin-right: 10px;
}

.form input {
    height: 35px;
    border: none;
}

.form label {
    color: white;
}

#userId1 {
    position: absolute;
    top: 55px;
    left: 320px;
}

#email1 {
    position: absolute;
    top: 120px;
    left: 320px;
}

#memberPwd1 {
    position: absolute;
    top: 180px;
    left: 320px;
}

#birthday1 {
    position: absolute;
    top: 310px;
    left: 320px;
}

#phone1 {
    position: absolute;
    top: 370px;
    left: 320px;
}
