.fa-circle-user {
	font-size: 120px;
}

.formContainer {
	color: #000 !important;
	min-width: 440px;
	background-color: #91C4F2;
}

.form-label{
	color: #000 !important;
}

.form-check-label{
	color: #000 !important;
}

body {
	height: 90vh;
	background-image: url("../img/memberlogin2.jpg");
	background-size: cover;
}

.nextStep {
	background-color: #6495ED !important;
}

.registrationPage {
	background-color: #8CA0D7 !important;
}

.oneClick {
	background-color: rgb(159, 209, 236) !important;
}
