<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>報名頁面</title>
</head>

<body>
<div th:replace="${session.memberBeans} ? ~{layout/navHomeLogin} : ~{layout/navHome} "></div>
	<div class="container">
		<h1>賽事報名</h1>
		<table>
			<thead>
				<tr>
					<th style="width:111px">賽事</th>
					<th>遊戲暱稱</th>
					<th>隊伍名稱</th>
					<th>真實姓名</th>
					<th>電子信箱</th>
					<th>聯絡電話</th>
					<th>通訊地址</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<form method="post" th:action="@{/3/competition/registration/insert}">
					<td class="sorting_1">
						<select name="competitionId">
							<th:block th:each=" competition : ${competitions} " >
							<option th:value="${competition.competitionId}" th:text="${competition.name}"></option>
							</th:block>
						</select>
					</td>
					<td><input style="width: 100%" type="text" name="gameNickname" required autocomplete=off />
					<td><input style="width: 100%" type="text" name="teamName" autocomplete=off />
					<td><input style="width: 100%" type="text" name="realName" required autocomplete=off />
					<td><input style="width: 100%" type="text" name="email" required autocomplete=off />
					<td><input style="width: 100%" type="text" name="phone" required autocomplete=off />
					<td><input style="width: 100%" type="text" name="address" required autocomplete=off />
					<td><button type="submit">送出</button></td>
				</form>
				</tr>
			</tbody>
		</table>


	</div>
</body>

</html>