<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<style>
		table {
			background-color: rgb(33, 37, 41);
		}

		table td,
		table th {
			max-width: 170px;
		}

		.tdCenter {
			text-align: center;
		}

		.imgBox {
			width: 100px;
			height: 100px;
		}

		.showDesc {
			cursor: pointer;
		}

		.section-big {
			max-width: calc(100% - 42px);
		}

		.section-small {
			max-width: calc(100% - 200px);
		}
		
		.imgBox{
			width: 100px;
			height: 100px;
		}
	</style>
	<title>活動列表</title>
</head>

<body>
	<div th:replace="~{layout/navMain}"></div>
	<div class="d-flex">
		<div th:replace="~{layout/asideMain}"></div>
		<div class="w-100 section section-big">
			<div class="content mt-3" th:replace="~{chen/Main}"></div>
			<div class="container-fluid">
				<div class="row my-3">
					<table id="example" class="hover row-border" style="width:100%">
						<thead>
							<tr>
								<th>圖片
								<th>活動名稱
								<th>開始日期
								<th>結束日期
								<th>地點
								<th>報名截止日期
								<th>
								<th>編輯
								<th>刪除
							</tr>
						</thead>
						<tbody>
							<th:block th:each=" event : ${events} ">
								<tr>
									<td class="imgBox overflow-hidden"><img th:src="@{'/event/showImage/'+${event.eventId}}" alt="找不到圖片" class="img-fluid"></td>
									<td th:text="${event.name}"></td>
									<td th:text="${event.startDate}"></td>
									<td th:text="${event.endDate}"></td>
									<td th:text="${event.location}"></td>
									<td th:text="${event.deadline}"></td>
									
									
									<td>
									    <span class="showDesc" data-bs-toggle="modal" th:data-bs-target="'#descriptionModal-' + ${event.eventId}">詳細資訊</span>
									    <div class="modal fade" th:id="'descriptionModal-' + ${event.eventId}" tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true">
									        aria-hidden="true">
									        <div class="modal-dialog">
									            <div class="modal-content">
									                <div class="modal-header" style="background-color: rgb(33, 37, 41);">
									                    <h5 class="modal-title" id="descriptionModalLabel">詳細資訊</h5>
									                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									                </div>
									                <div class="modal-body" style="background-color: rgb(33, 37, 41);">
									                    <!-- 隐藏的字段内容 -->
									                    <p>活動說明: <span th:text="${event.description}"></span></p>
									                    <p>限時折扣: <span th:text="${event.timeLimitedDiscount}"></span></p>
									                    <p>名額限制: <span th:text="${event.quotaLimited}"></span></p>
									                    <p>報名費: <span th:text="${event.fee}"></span></p>
									                </div>
									                <div class="modal-footer" style="background-color: rgb(33, 37, 41);">
									                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
									                </div>
									            </div>
									        </div>
									    </div>
									</td>
									
									
									
									
									
									
									
									
									
									<td>
										<form th:action="@{/event/update}" method="get">
											<input type="hidden" name="eventId" th:value="${event.eventId}" />
											<button class="btn" type="submit"><i class="fa-sharp fa-solid fa-pen-to-square fa-xl" style="color: #0043b8;"></i></button>
										</form>
									<td>
										<form th:action="@{/event/delete}" th:method="delete">
											<input type="hidden" name="eventId" th:value="${event.eventId}" />
											<button class="btn delete-btn" type="submit"><i class="fa-solid fa-trash fa-xl" style="color: #ff0505;"></i></button>
										</form>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script>
		$(function () {

			$.extend(true, $.fn.dataTable.defaults, {
				searching: false,
				ordering: true,
			});

			$(document).ready(function () {
				$('#example').DataTable();
			});

			$('.delete-btn').click(function (event) {
				event.preventDefault();
				Swal.fire({
					title: '確定要刪除嗎?',
					text: "刪除後就找不回資料嘍",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: '確定',
					cancelButtonText: '取消'
				}).then((result) => {
					if (result.isConfirmed) {
						$(this).closest('form').find('input[name="eventId"]').val();
						$(this).closest('form').submit();
					}
				})
			});

			



		})
	</script>
</body>

</html>