<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">

	<style>
		table {
			background-color: rgb(33, 37, 41);
		}
		
		table td,
		table th {
			max-width: 170px;
		}

		.tdCenter {
			text-align: center;
		}

		.imgBox {
			width: 100px;
			height: 100px;
		}

		.showDesc {
			cursor: pointer;
		}

		.section-big {
			max-width: calc(100% - 42px);
		}

		.section-small {
			max-width: calc(100% - 200px);
		}
	</style>
	<title>賽事列表</title>
</head>

<body>
	<div th:replace="~{layout/navMain}"></div>
	<div class="d-flex">
		<div th:replace="~{layout/asideMain}"></div>
		<div class="w-100 section section-big">
			<div class="content mt-3" th:replace="~{chen/Main}"></div>
			<div class="container-fluid">
				<div class="row my-3">
					<table id="example" class="hover row-border" style="width:100%">
						<thead>
							<tr>
								<th>賽事ID
								<th>賽事名稱
								<th>對戰模式
								<th>開始日期
								<th>結束日期
								<th>賽事地點
								<th>獎金
								<th>名額限制
								<th>報名截止日期
								<th>更新確認
							</tr>
						</thead>
						<tbody>
							<tr>
								<form th:action="@{/competition/update}" th:method="put">
									<td>
										<input style="width: 100%" type="text" name="competitionId"
											th:value="${competition.competitionId}" readonly />
									</td>
									<td>
										<input style="width: 100%" type="text" name="name"
											th:value="${competition.name}" required autocomplete="off" />
									</td>
									<td>
										<select name="mode">
											<option>團隊賽-自由對戰</option>
											<option>團隊賽-單淘汰賽</option>
											<option>團隊賽-循環賽</option>
											<option>個人賽-自由對戰</option>
											<option>個人賽-單淘汰賽</option>
											<option>個人賽-循環賽</option>
										</select>
									</td>
									<td>
										<input id="pick-start_date" style="width:100%"
											th:value="${competition.startDate}" type="text" name="startDate" required
											autocomplete="off" />
									</td>
									<td>
										<input id="pick-end_date" style="width: 100%" th:value="${competition.endDate}"
											type="text" name="endDate" required autocomplete="off" />
									</td>
									<td>
										<input style="width: 100%" type="text" name="location"
											th:value="${competition.location}" required autocomplete="off" />
									</td>
									<td>
										<input style="width: 100%" type="text" name="prize"
											th:value="${competition.prize}" required autocomplete="off" />
									</td>
									<td>
										<input style="width: 100%" type="text" name="quotaLimited"
											th:value="${competition.quotaLimited}" required autocomplete="off" />
									</td>
									<td>
										<input id="pick-deadline" style="width: 100%" th:value="${competition.deadline}"
											type="text" name="deadline" required autocomplete="off" />
									</td>
									<td>
										<button type="submit">更新</button>
									</td>
								</form>
							</tr>
							<tr>
								<td th:text="${competition.competitionId}"></td>
								<td th:text="${competition.name}"></td>
								<td th:text="${competition.mode}"></td>
								<td th:text="${competition.startDate}"></td>
								<td th:text="${competition.endDate}"></td>
								<td th:text="${competition.location}"></td>
								<td th:text="${competition.prize}"></td>
								<td th:text="${competition.quotaLimited}"></td>
								<td th:text="${competition.deadline}"></td>
								<td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script>
		$(function () {

			$.extend(true, $.fn.dataTable.defaults, {
				searching: false,
				ordering: true,
			});
			

			$(document).ready(function () {
				$('#example').DataTable();
			});

			$("#pick-start_date").datepicker({
				dateFormat: 'yy-mm-dd',
				onSelect: function (selected) {
					$("#pick-end_date").datepicker("option", "minDate", selected);

					$("#pick-deadline").datepicker("option", "maxDate", selected);
				},
			});

			$("#pick-end_date").datepicker({
				dateFormat: 'yy-mm-dd',
				onSelect: function (selected) {
					$("#pick-start_date").datepicker("option", "maxDate", selected);
				},
			});

			$("#pick-deadline").datepicker({
				dateFormat: 'yy-mm-dd',
				onSelect: function (selected) {
					$("#pick-start_date").datepicker("option", "minDate", selected);
				},
			});

			

		})
	</script>
</body>

</html>