<div class="fullmodal-avatar">
    <div class="modalContent modal_bg"></div>
    <div class="modalContent modal_active" tabindex="-1">
        <div class="modalPosition" tabindex="1">
            <div class="modalPosition_Content">
                <div class="modalPosition_topbar"></div>
                <div class="modalContainer">
                    <div class="Header_Containner">
                        <div>
                            <div class="bonusfile_header Panel Focusable">BonusName</div>
                            <div class="bonusfile_subheader">BonusType</div>
                        </div>
                    </div>
                    <div class="bgPreview_Container">
                        <div class="previewContainer itemPreviewContainer">IMG</div>

                        <div class="itemButtonContainer">
                            <div class="modalButton">
                                <div class="pointer_Container">
                                    <div class="point_price">2000PRICE</div>
                                </div>
                            </div>
                            <div class="modal_cancelButton">取消</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>