<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<style>
		
	</style>

	<link th:href="@{/css/bonus-shop.css}" rel="stylesheet" >
</head>

<body>
	<div th:replace="${session.memberBeans} ? ~{layout/navHomeLogin} : ~{layout/navHome} "></div>
	<section class="my-4">
		<div class="container">
			<div class="profile_header_bg">
				<div class="profile_header_bg_text">
					<div class="profile_header">
						<div class="profile_header_layout">
							<div class="profile_header_personalinfo">
								<div class="personal_name">NAME</div>
							</div>
							<div class="personal_avatar">
								<div class="personal_avatar_innersize">
									<div class="profile_avatar_frame">
										<img src="/carbon/img/userFrameDefault.png">
									</div>

									<img class="profile_avatar_img" src="/carbon/img/userAvatarDefault.gif">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>

	</section>

	<div class="fullmodal-avatar" id="fullmodal-avatar">
		<div class="modalContent modal_bg"></div>
		<div class="modalContent modal_active" tabindex="-1">
			<div class="modalPosition" tabindex="1">
				<div class="modalPosition_Content">
					<div class="modalPosition_topbar"></div>
					<div class="modalContainer">
						<div class="Header_Containner">
							<div>
								<div class="bonusfile_header Panel Focusable">BonusName</div>
								<div class="bonusfile_subheader">BonusType</div>
							</div>
						</div>
						<div class="bgPreview_Container">
							<div class="previewContainer itemPreviewContainer">IMG</div>

							<div class="itemButtonContainer">
								<div class="modalButton">
									<div class="pointer_Container">
										<div class="point_price">2000PRICE</div>
									</div>
								</div>
								<div class="modal_cancelButton">取消</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

	<div th:replace="~{layout/footer}"></div>
	<script th:src="@{/js/profile-avataredit.js}"></script>
</body>

</html>